:root {
    --theme-nav-background-colour: #820000;
    --theme-nav-highlight-colour: #b1040e;
    --theme-nav-foreground-colour: #fff;
    --theme-nav-separator: 1px solid #720000;
    --theme-subnav-active: 3px solid #b1040e;
    --theme-menu-background-colour: #820000;
    --theme-search-background-colour: #820000;

    --theme-button-foreground-colour: #fff;
    --theme-button-background-colour: #980000;

    --theme-secdiv-background-colour: #980000;
    --theme-secdiv-lite-background-colour: #c80000;
}

a {
    color: #990010;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

div.playTrack a {
    filter: invert(0.3) sepia(1) saturate(5) hue-rotate(310deg);
}

.nav:link { color: #990010; }
.nav:visited { color: #990010; }
.nav:active { color: #990010; }

.albumReview {
    background-image: URL('../img/kzsu/kzsu_rinfo.gif');
}

.playlist-accordion.ui-accordion .ui-accordion-header {
    color: var(--theme-nav-highlight-colour);
}
.playlist-accordion.ui-accordion .ui-accordion-header-icon {
    filter: brightness(0) saturate(100%) invert(12%) sepia(81%) saturate(6874%) hue-rotate(353deg) brightness(69%) contrast(103%); /* #b1040e see https://codepen.io/sosuke/pen/Pjoqqp */
}
