P, TD {
    font-family: verdana, arial, helvetica, sans-serif;
    color: #ffffff;
    font-size: small
}
TH, .header {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color: #ffffff;
}
H4 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
    color: #ffffff; }
.sub {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: x-small;
    color: #ffffff;
}
.input {
    font-family: monospace;
    font-size: small; }
.nav:link { color: #ffffff; }
.nav:visited { color: #ffffff; }
.nav:active { color: #ff0000; }
.sel:link { color: #ff0000; }
.sel:visited { color: #ff0000; }
.sel:active { color: #ff0000; }
.linkhead:link {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.linkhead:visited {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.linkhead:active {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color: #cc0000;
    text-decoration: none;
}
.linkrow { line-height: 5px; }
.calendar, .calBody { background-color: #5279a0; border-color: transparent; }
.calGrid, .calHead, .calToday { background-color: #325980; }
A.calNav { color: #ffffff; text-decoration: none; }
A.calLink { color: #cc0000; text-decoration: none; }
