/* combining font weights into one import makes FX flicker, even with display=block */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

body {
    padding: 0;
}

div.content {
    margin-top: 40px;
    margin-left: 10px;
    padding-top: 0;
    padding-left: 0;
    float: left;
    width: 100%;
    min-width: inherit;
    box-sizing: border-box;
}

div.box {
    width: auto;
    padding: 10px;
}

.user-tip {
    margin-right: 20px;
}    

nav {
    background: var(--theme-nav-background-colour);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
}

nav .logo {
    color: var(--theme-nav-foreground-colour);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-right: 20px;
}

nav .nav-items {
    display: flex;
    flex: 1;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav .nav-items li {
    list-style: none;
}

nav .nav-items > li a {
    color: var(--theme-nav-foreground-colour);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 70px;
    border-left: var(--theme-nav-separator);
    border-right: var(--theme-nav-separator);
}

nav .nav-items li a:hover,
nav .nav-items:not(.active) > li.selected,
nav .nav-items.active > li.selected.open ul li.selected {
    background-color: var(--theme-nav-highlight-colour);
}
nav .nav-items.active > li.selected.open ul li {
    background-color: var(--theme-menu-background-colour);
}

nav .login-search .login {
    white-space: nowrap;
}
nav .login-search {
    flex: 1;
    margin-left: 50px;
}
nav .login-search .login,
nav .login-search .login a {
    text-align: right;
    color: var(--theme-nav-foreground-colour);
    font-weight: bold;
    margin-right: 2px;
}

nav form {
    height: 40px;
    padding: 2px;
    border: none;
    position: relative;
}
nav form .search-data {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    color: #000;
    font-size: 17px;
    border: 1px solid #000;
    font-weight: 500;
    background: none;
    background-color: #fff;
    border-radius: 6px;
    padding-left: 38px;
}

#search-filter-button {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 10px 5px 10px 10px;
    border: 0;
    border-left: 1px solid #888;
    border-radius: 0 6px 6px 0;
    background-color: #fff;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: inherit;
}
#search-filter-button .ui-selectmenu-text {
    margin-right: 5px;
}
ul#search-filter-menu li {
    font-family: "Montserrat", sans-serif;
}
#search-filter-button.override {
    background-color: #ffffe0;
}
#search-filter-button:hover {
    filter: brightness(95%);
}
#search-filter-menu {
    font-size: 16px;
    background-color: #fff;
    border-top: 0;
    border-radius: 4px;
}
#search-filter-menu li {
    border-top: 1px solid #c5c5c5;
}
#search-filter-menu li div {
    padding: 8px;
}
#search-submit {
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 8px;
    border: 0;
    border-radius: 6px;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    outline-offset: -3px;
}
#search-submit:hover {
    cursor: pointer;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 18px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

/* begin subnav */
.nav-items ul {
    display: none;
    margin: 0;
    padding: 0;
}
.nav-items:not(.active) li.selected ul {
    position: absolute;
    display: block;
    left: 0;
    margin-right: -150px;/* TBD fix me */
}
.nav-items:not(.active) li.selected ul li {
    float: left;
    padding-right: 10px;
}
.nav-items:not(.active) li.selected ul li a {
    color: var(--theme-nav-background-colour);
    background-color: inherit;
    border: inherit;
    line-height: 25px;
    padding-top: 5px;
}
.nav-items:not(.active) li:hover ul li a:hover,
.nav-items:not(.active) li.selected ul li.selected a {
    border-bottom: var(--theme-subnav-active);
}
.nav-items.active li ul li a {
    padding-left: 100px;
}

.nav-items.active > li > a:before {
    content: "\f054"; /* fa-chevron-right */
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    color: var(--theme-nav-foreground-colour);
    padding-right: 20px;

    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transform-origin: 5px center;
}
.nav-items.active > li.open > a:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* end subnav */

@media (max-width: 1245px) {
    nav {
        padding: 0 20px;
    }
}

@media (max-width: 1000px) {
    html.no-scroll {
        overflow: hidden;
    }
    nav {
        padding: 0;
    }
    nav .logo {
        flex: 2;
        text-align: center;
        margin-right: inherit;
    }
    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: calc(-100% - 10px);
        height: 100%;
        padding: 10px 50px 0 50px;
        background: var(--theme-menu-background-colour);
        display: inline-block;
        transition: left 0.3s ease;
    }
    nav .nav-items.active {
        padding: inherit;
    }
    nav .nav-items > li a {
        border: none;
    }
    nav .nav-items.active {
        left: 0px;
    }
    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }
    nav .nav-items li a {
        font-size: 20px;
    }
    nav .nav-items li:hover ul {
        display: none;
    }
    nav .nav-items li {
        margin: 0;
    }
    nav .nav-items li > a {
        padding-left: 50px;
        width: 100%;
    }

    nav form {
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active {
        top: 95px;
        opacity: 1;
        z-index: 10;
        pointer-events: auto;
    }
    nav form:before {
        position: absolute;
        content: "";
        top: -10px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: var(--theme-search-background-colour);
        margin: -20px 0 0;
    }
    nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: var(--theme-search-background-colour);
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    nav .login-search {
        flex: 0;
        margin-left: 0;
    }
    nav form .search-data {
        width: 268px;
    }
    #search-submit {
        display: none;
    }
    nav .menu-icon,
    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }
    nav .cancel-icon.show {
        display: block;
    }
    nav .login-search .login a {
        margin-left: 10px;
        margin-right: 20px;
        font-size: 16px;
    }
    nav .login-search .login .whois {
        position: absolute;
        top: 4px;
        right: 24px;
    }
    nav .login-search .login .whois-sep {
        display: none;
    }
    .nav-items:not(.active) li.selected ul {
        display: none;
    }
}
@media (max-width: 1000px) {
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 20px;
    }
    nav .menu-icon {
        margin-left: 31px;
    }
    nav form {
        right: 30px;
    }
}
@media (max-width: 400px) {
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 10px;
        font-size: 16px;
    }
    nav .menu-icon {
        margin-left: 21px;
    }
    nav .login-search .login a {
        font-size: 14px;
    }
}

.result-count {
    position: absolute;
    font-size: 1.1rem;
    font-weight: bold;
    color: #555;
    top: 90px;
    left: 20px;
    z-order: -1;
}

/* begin breadcrumbs */
.breadcrumbs {
    position: absolute;
    line-height: 20px;
    font-weight: 500;
    font-size: 20px;
    top: 60px;
    left: -10px;
    z-order: -1;
}
.breadcrumbs:before {
    position: absolute;
    content: "";
    top: 22px;
    left: 40px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: var(--theme-nav-highlight-colour);
    margin: -20px 0 0;
}
.breadcrumbs ul {
    list-style: none;
    display: inline-block;
}
.breadcrumbs li {
    float: left;
    color: var(--theme-nav-foreground-colour);
    display: block;
    background: var(--theme-nav-highlight-colour);
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 35px 0 5px;
    margin-right: -1px; /* fixes subpixel rendering issue in Chrome */
    text-align: center;
}
.breadcrumbs li:after {
    content: "\f054"; /* fa-chevron-right */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 46px;
    overflow: clip; /* fixes subpixel rendering issue in Chrome */
    overflow-clip-margin: 1px;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--theme-content-background-colour);
}
.breadcrumbs li:first-child {
    border-radius: 4px 0 0 4px;
}
.breadcrumbs li:last-child {
    border-radius: 0 4px 4px 0;
    padding-right: 10px;
}
.breadcrumbs li:last-child:after {
    display: none;
}
.breadcrumbs li span.fa-home {
    line-height: 28px;
    position: relative;
    left: 5px;
}
@media (min-width: 1000px) {
    .breadcrumbs {
        display: none;
    }
}
@media (max-width: 400px) {
    .breadcrumbs {
        left: -20px;
    }
}
/* end breadcrumbs */

/* start topnav extra */
.topnav-extra {
    position: absolute;
    top: 80px;
    right: 15px;
}
.topnav-extra a:last-of-type {
    float: right;
    margin-left: 3px;
}
/* end topnav extra */

/* start footer */
.footer {
    height: 70px;
    padding: 0 20px;
    margin: 0 -10px;
    font-family: "Montserrat", sans-serif;
    background: var(--theme-nav-background-colour);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.footer div a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
    overflow-y: scroll;
    text-decoration: none;
}
.footer div a:hover {
    text-decoration: underline;
}
.footer span {
    transition: all 200ms ease-in-out;
}
.footer span:hover {
    transform: scale(1.1);
}
/* end footer */
