/* Use a CSS reset to smooth out browser incongruities. */
/* CSS Reset from meyerweb.com v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
/*	margin: 0;
	padding: 0;*/
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Show scrollbar even on short pages: solves the
problem where content box shifts from page to page,
which is slightly annoying to look at */
html {
	overflow-y: scroll;
}


/* ZK styles */

/* restore defaults */
BODY {
    margin: 0;
    padding: 10px 0px 30px 0px;
    font-size: 10pt;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    line-height: 1.2;
}
H1 {
    font-size: 16pt;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}
H2, .subhead  {
    color: #d83d04;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 8px;
    margin-bottom: 5px;
    text-align: left;
}
th.subhead {
    padding-top: 0px;
}
    
div.subhead {
    padding-top: 4px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
   
LI {
    display: list-item;
}
OL {
    list-style-type: decimal;
}
OL, UL {
    display: block;
    margin: 1.12em 0;
    margin-left: 30px;
    padding-left: 0px;
}
OL UL, UL OL, UL UL, OL OL {
    margin-top: 0;
    margin-bottom: 0;
}

/* afile activity page */
TABLE.afileactivity {
    font-size: 10pt;
}
.hborder, .hborder TD {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #cccccc;
    vertical-align: baseline;
}
.pull-right {
    float: right;
}

.noPlaylist, .noPlaylist TD {
    background-color: #000000;
    color: #ffffff;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #cccccc;
}
.noQuota, .noQuota TD {
    background-color: #ffff00;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #cccccc;
}

/* charts */
.top30 {
    font-size: 10pt;
    vertical-align: top;
}

/* Find It! */
TD.ind {
    width: 15px;
}

/* recent reivews page */
label.reviewLabel {
       width: 80px;
}

#review-count {
	color: #3e873b;
}
span.review-categories > span {
        display: inline-block;
        padding-right: 8px;
}

span.review-count {
	display:inline-block;
	margin-left: 8px;
}

span.review-categories > span.zk-hidden {
	display:none;
}

/* home page */
.top-albums {
    margin-top: 4px;
}

.zk-fade-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
}
.zk-fade-hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 2s, opacity 2s linear;
    -moz-transition: visibility 0s 2s, opacity 2s linear;
    -o-transition: visibility 0s 2s, opacity 2s linear;
    transition: visibility 0s 2s, opacity 2s linear;
}
.home-showbox {
    position: relative;
    height: 25px;
}
.home-datetime {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10pt;
    padding-top: 4px;
    padding-bottom: 4px;
}
.home-currenttrack {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: normal;
    padding-top: 4px;
    padding-bottom: 4px;
}
.home-onnow > label {
    font-weight: bold;
    display: inline-block;
    padding-bottom: 8px;
}

.home-hdr > label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
.top-albums td {
    padding-right: 50px;
}


/* playlist editor */
.arrowCell {
    vertical-align: top;
    padding-top: 6px;
}

/* album details */
.currentsTop {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #cccccc;
    font-size: 80%;
    background-color: #eeeeee;
    color: #000000;
}
.currentsBottom {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #cccccc;
    font-size: 80%;
    color: #000000;
}

/* DJ Zone! */
.recentPlays, .recentReviews {
    vertical-align: top;
}
TABLE.djzone TD:last-child {
    width: 100%;
}

/* library editor */
TD.label-form A {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: solid #696969 2px;
    padding: 8px 10px;
    border-radius: 4px;
    display: inline-block;
    width: 120px;
    font: 15px sans-serif;
    text-align: center;
    z-index: 100;
}
TD.label-form A:FOCUS {
    outline:0;
}
TD.label-form SPAN.form-name {
    display: inline-block;
    clear: both;
    float: right;
    font: bold 10px sans-serif;
    color: #cc0000;
}
TD.label-form {
    border-style: solid;
    border-width: 1px;
    padding: 8px 10px;
    border-color: #000;
    display: inline-block;
    margin: 0;
    box-shadow:5px 5px 8px #888888;
}
.editorUp {
    top: 0px;
    width: 220px;
    height: 16px;
    border: 0px;
    color: #ffffff;
    font-family: courier;
    font-weight: 900;
    background-color: #2530a7;
}
.editorDown {
    top: 0px;
    width: 220px;
    height: 16px;
    border: 0px;
    font-family: courier;
    font-weight: 900;
    color: #ffffff;
    background-color: #2530a7;
}
.editorChooser {
    width: 220px;
    border-width: 1px;
    overflow: hidden;
    scrollbar-width: none;
}

.trackEditor {
    width: 100%;
}

.trackEditor TH {
    font-size: 10pt;
    text-align: left;
    vertical-align: bottom;
    line-height: 10px;
}

.trackTable TD {
    line-height: 18px;
}

.trackTable TD {
    vertical-align: middle;
}

div.playTrack {
    padding-right: 4px;
}

div.playTrack A {
    filter: invert(59%) sepia(98%) saturate(1900%) hue-rotate(204deg) brightness(94%) contrast(88%); /* #828ae3 see https://codepen.io/sosuke/pen/Pjoqqp */
    padding-right: 2px;
    padding-bottom: 2px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-image: URL("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0MCIgdmlld0JveD0iNCA0IDQwIDQwIiB3aWR0aD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIwIDMzbDEyLTktMTItOXYxOHptNC0yOUMxMi45NSA0IDQgMTIuOTUgNCAyNHM4Ljk1IDIwIDIwIDIwIDIwLTguOTUgMjAtMjBTMzUuMDUgNCAyNCA0em0wIDM2Yy04LjgyIDAtMTYtNy4xOC0xNi0xNlMxNS4xOCA4IDI0IDhzMTYgNy4xOCAxNiAxNi03LjE4IDE2LTE2IDE2eiIvPjwvc3ZnPgo=");
}

div.playTrack:hover {
    filter: saturate(10);
}

/* layout */
DIV.box {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
DIV.leftNav {
    float: left;
    margin-top: 0px;
    margin-left: 2px;
    text-align: left;
    width: 165px;
}
DIV.leftNav A {
    color: #000000;
    text-decoration: none;
    font-size: 12pt;
}
DIV.leftNav TD A:hover {
    color: #91a3ce;
    text-decoration: underline;
}
DIV.headerListen P A {
    text-align: right;
    font-size: 14px;
    line-height: 14px;
}
DIV.headerLogo {
    float: left;
    width: 200px;
    line-height: 1.1;
}
DIV.headerLogo IMG {
    padding-top: 8px;
    width: 200px;
}
DIV.content {
    position: relative;
    float: right;
    width: 710px;
    padding: 10px;
    min-height: 450px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
DIV.footer {
    width: auto;
    clear: both;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 10px;
}
DIV.footer A:hover {
    text-decoration: underline;
}
P.zktitle A {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
    text-decoration: none;
}

/* primary navigation */
.nav:link { color: #990010; }
.nav:visited { color: #990010; }
.nav:active { color: #990010; }
.nav2:link { color: #000000; }
.nav2:visited { color: #000000; }
.nav2:active { color: #ff0000; }
.nav2sel:link { color: #91a3ce; }
.nav2sel:visited { color: #91a3ce; }
.nav2sel:active { color: #ff0000; }
.nav3:link { color: #d83d04; }
.nav3:visited { color: #d83d04; }
.nav3:active { color: #d83d04; }
.nav3s { color: #d83d04; font-size: 80%; }

/* secondary navigation */
.linkhead {
    font-family: verdana, arial, helvetica, sans-serif;
}
.linkhead:active {
    font-size: 100%;
    font-weight: bold;
    color: #cc0000;
    text-decoration: none;
}
.linkhead:link {
    font-size: 100%;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.linkhead:visited {
    font-size: 100%;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.linkrow {
    line-height: 5px;
    background-color: #2530a7;
}
.secNorm {
    padding-top: 2px;
    background-color: #5863da;
}
.secSel {
    padding-top: 2px;
    background-color: #2530a7;
    color: #ffffff;
}
.secSelSub {
    background-color: #2530a7;
    color: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 80%;
}
.secCell {
    vertical-align: bottom;
    padding: 0px;
    border-spacing: 0px;
}

/* general */
.playlistBanner {
    font-size: 11pt;
    font-weight: bold;
    color: white;
    background-color: #2530A7;
    line-height: 24px;
    margin-bottom: 4px;
}
.playlistBanner > div {
    font-size: 11pt;
    float: right;
    font-size: 10px;
}

.playlistHdr {
    border-bottom: 1px solid gray;
}
.playlistTable {
    width: 100%;
}

.home-onnow, TH {
    font-size: 11pt;
    font-weight: bold;
    color: #000000;
}
TH.sec {
    color: white;
    background-color: #2530a7;
    text-align: left;
}
.secdiv, .secdiv TH, TH.sec {
    padding-left: 4px;
    color: white;
    background-color: #2530a7;
}
.error {
    font-weight: bold;
    color: #cc0000;
}
.input { }
.sel:link { color: #ff0000; }
.sel:visited { color: #ff0000; }
.sel:active { color: #ff0000; }
table.recentAirplay td, .sub {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 8pt;
    color: #000000;
}
.sub2 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 8pt;
    color: #ffffff;
}
.subhead2 {
    color: #d83d04;
    font-size: 10pt;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 5px;
}
.submit {
    color: #ffffff;
    background-color: #5863da;
    border-width: 1px;
    border-color: #3b0000;
}
.success {
    color: #006600;
}
.text, .urlValue {
    padding: 2px;
    border: 1px solid #3b0000;
}
.textsp {
    padding: 1px;
    border: 1px solid #3b0000;
    width: 120px;
}
.zk-hidden {
    display: none;
}
.track-info, .remaining {
    color: gray;
}
.track-error {
    color: red;
}

.pl-form {
    margin-top: 8px;
    margin-left: 4px;
}
.pl-form-entry {
    padding-top: 4px;
}

.pl-form-entry input, .pl-form-entry select {
    width: 300px;
    box-sizing: border-box;
    height: 24px;
    margin-bottom: 4px;
}

.pl-form-entry textarea {
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.pl-form-entry button {
    width: 140px;
    box-sizing: border-box;
}

.form-entry label, .pl-form-entry label {
    display:inline-block;
    font-weight: bold;
}

.pl-form-entry label {
    width: 84px;
}

INPUT[type="radio"], 
INPUT[type="checkbox"] {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin: 2px 5px 5px 2px;
    border: 1px solid #A5A5A5;
    background: -webkit-linear-gradient(#FCFCFC, #DADADA);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
}
INPUT[type="checkbox"] {
    -webkit-border-radius:2px;
    border-radius:2px;
}
INPUT[type="radio"]:not(:disabled), 
INPUT[type="checkbox"]:not(:disabled) {
    box-shadow:inset 1px 1px 0 #fff, 0 1px 1px rgba(0,0,0,0.1);
}
INPUT[type="radio"]:not(:disabled):hover,
INPUT[type="checkbox"]:not(:disabled):hover {
    border-color:rgba(0,0,0,0.4);
    box-shadow:inset 1px 1px 0 #fff, 0 0 4px rgba(0,0,0,0.2);
}
INPUT[type="radio"]:active:not(:disabled),
INPUT[type="checkbox"]:active:not(:disabled) {
    background-image: -webkit-linear-gradient(#C2C2C2, #EFEFEF);
    box-shadow:inset 1px 1px 0 rgba(0,0,0,0.2), inset -1px -1px 0 rgba(255,255,255,0.6);
    border-color:#707070;
}
INPUT[type="radio"]:checked,
INPUT[type="radio"]:checked:active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAMAAADXT/YiAAAAVFBMVEX///9eXl5RUVEzMzMbGxszMzNRUVEiIiJRUVFFRUUzMzMiIiJFRUUzMzNRUVFRUVE6OjorKysiIiJRUVFFRUU6OjozMzMrKytRUVFFRUUzMzMrKyvGHNe0AAAAHHRSTlMAERERESJmZnd3d3eIiJmqqqqqzMzMzMzd3d3dIlELBQAAAEFJREFUCNdjYEACLOxC3CwgBrOgtLi4ICuQxSUlBgS8QJaAKAgIAFmckiIiIpI8QBYTn4SwBD8TSAsjGz8HI7JhAH1fArjBaKLrAAAAAElFTkSuQmCC") center no-repeat, -webkit-linear-gradient(#FCFCFC, #DFDFDF);
}
INPUT[type="checkbox"]:checked,
INPUT[type="checkbox"]:checked:active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAMAAADXT/YiAAAAOVBMVEX///8zMzMqKipCQkI8PDwzMzNISEhISEhISEhCQkIqKio8PDwzMzMqKipISEhCQkI8PDwzMzMqKipFad0NAAAAE3RSTlMAIiIzMzNEZnd3qru7u8zMzMzMuKlnZwAAADhJREFUCNdjYIACJhjNJQRl8ApBWIw8goKsDDw8UAaDgAA3t4AAC1CGkx8ImMGKOPj42KAmsEMYAEUyAa2GdxXhAAAAAElFTkSuQmCC") center no-repeat, -webkit-linear-gradient(#FCFCFC, #DFDFDF);
}

/* calendar */
A.calNav {
    color: #990010;
    text-decoration: none;
}
A.calNav:hover {
    text-decoration: underline;
}
A.calLink {
    color: #cc0000;
    text-decoration: none;
}
.calBody {
    color: #000000;
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 1px;
    border-style: solid;
}
.calendar, .calHead {
    color: #000000;
    background-color: #ffffff;
    border-color: transparent;
}
.calGrid, .calToday {
    color: #000000;
    background-color: #cccccc;
}

/* base styling for tables that show list data, eg tracks.
 */
.searchTable {
    text-align:left;
}
.searchTable > thead > tr {
    border-bottom: 1px solid gray;
}
.albumReview {
    background-image: URL('../img/rinfo.gif');
    width:11px;
    height:11px;
}
.albumNoReview {
    width:11px;
    height:11px;
}
.albumPlayable {
    float: right;
    width: 11px;
    height: 11px;
    background-size: 11px;
    background-repeat: no-repeat;
    background-image: URL('../img/discicon.svg');
}

/* tighten up tablesorter's spacing */
.tablesorter-default td {
    padding: 0;
}

.tablesorter-default  .header, .tablesorter-default .tablesorter-header {
    padding: 0px 16px 0px 0px;
}

/* up/down & edit links for playlist edits */
.songManager {
    top: 8px;
    height: 20px;
    width: 38px;
    position: relative;
    font-size:12px;
}

.songManager a {
    position: absolute;
    line-height: 1.4;
    background-repeat: no-repeat;
    width: 10px;
    height: 4px;
}

.songEdit {
    top: -2px;
    left: 14px;
    font-size:14px;
}

.songLabel {
    font-size:10px;
}

.songDivider hr {
    position: relative;
    top: 3px;
    height: 0px;
    background-color: gray;
}

.logEntry, .logEntry TD,
.logEntryEdit, .logEntryEdit TD {
    /* entire log entry row */
}

.logEntry TD:not(:nth-of-type(1)) {
    /* log entry details in view playlist (not editor) */
}

.logEntryEdit TD:nth-of-type(n+3) {
    /* log entry details in playlist editor */
}

.commentRow, .commentRow TD,
.commentRowEdit, .commentRowEdit TD {
    /* entire comment row */
}

.commentRow TD:not(:nth-of-type(1)) {
    /* comment details in view playlist (not editor) */
    font-size: small;
}

.commentRowEdit TD:nth-of-type(n+3) {
    /* comment details in playlist editor */
}

.markdown-help {
    padding: 10px 0px;
    display: none;
}

.markdown-help table,
.markdown-help table td,
.markdown-help table th {
    border: 1px solid #333;
    background-color: #ffc;
    padding: 2px 10px;
    min-width: 180px;
    text-align: left;
}

.markdown-help table th {
    background-color: #333;
    color: white;
}

.user-tip {
    margin-top: 10px;
    padding: 2px 10px;
    display: none;
    border: 1px solid #333;
    background-color: #ffc;
    min-width: 180px;
    text-align: left;
}

.grab {
    position: absolute;
    line-height: 1.4;
    cursor: grab;
}
.grabbed {
    border: 1px solid #888;
    background-color: #f9fbdf;
/* box-shadow doesn't work in webkit: */
    box-shadow: 0 0 13px #000;
}
.grabCursor, .grabCursor * {
    cursor: move !important;
}

.invalid-input {
    padding: 2px 3px 2px 3px ;
    border: 2px solid #f88;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #f88, inset 0px 0px 2px #f88;
}

.prefilled-input {
    padding: 2px 3px 2px 3px ;
    border: 2px solid #0c0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #f88, inset 0px 0px 2px #f88;
}

.highlight {
    background-color: #ff9;
}

.date {
    white-space: nowrap;
}
