/*
 * IMPORTANT:  As this file is referenced from XHTML (the RSS viewer),
 * element names should be lower case only!
 */

/* Use a CSS reset to smooth out browser incongruities. */
/* CSS Reset from meyerweb.com v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
/*	margin: 0;
	padding: 0;*/
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Show scrollbar even on short pages: solves the
problem where content box shifts from page to page,
which is slightly annoying to look at */
html {
	overflow-y: scroll;
}


/* ZK styles */

/* restore defaults */
body {
    margin: 0;
    padding: 10px 0px 30px 0px;
    font-size: 10pt;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    line-height: 1.2;
}
h1 {
    font-size: 16pt;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}
h2, .subhead  {
    color: #d83d04;
    font-size: 14pt;
    font-weight: bold;
    padding-top: 8px;
    margin-bottom: 5px;
    text-align: left;
}
h3  {
    font-size: 12pt;
    font-weight: bold;
    line-height: 1.0;
    margin-bottom: 2px;
}
th.subhead {
    padding-top: 0px;
}
    
div.subhead {
    padding-top: 4px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
   
.subhead2.coming-up {
    color: gray;
    font-size: 12pt;
}

li {
    display: list-item;
}
ol {
    list-style-type: decimal;
}
ul {
    list-style-type: disc;
}
ol, ul {
    display: block;
    margin: 1em 0;
    margin-left: 30px;
    padding-left: 0px;
}
ol ul, ul ol, ul ul, ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

/* afile activity page */
table.afileactivity {
    font-size: 10pt;
}
.hborder, .hborder td {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #cccccc;
    vertical-align: baseline;
}
.pull-right {
    float: right;
}

.noPlaylist, .noPlaylist td {
    background-color: #000000;
    color: #ffffff;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #cccccc;
}
.noQuota, .noQuota td {
    background-color: #ffff00;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #cccccc;
}

/* charts */
.top30 {
    font-size: 10pt;
    vertical-align: top;
}

/* Find It! */
td.ind {
    width: 15px;
}

/* recent reivews page */
label.reviewLabel {
       width: 80px;
}

#review-count {
	color: #3e873b;
}
span.review-categories > span {
        display: inline-block;
        padding-right: 8px;
}

span.review-count {
	display:inline-block;
	margin-left: 8px;
}

span.review-categories > span.zk-hidden {
	display:none;
}

/* home page */
.top-albums {
    margin-top: 4px;
}

.zk-fade-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
}
.zk-fade-hidden {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 2s, opacity 2s linear;
    -moz-transition: visibility 0s 2s, opacity 2s linear;
    -o-transition: visibility 0s 2s, opacity 2s linear;
    transition: visibility 0s 2s, opacity 2s linear;
}
.home-showbox {
    position: relative;
    height: 25px;
}
.home-datetime {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10pt;
    padding-top: 4px;
    padding-bottom: 4px;
}
.home-currenttrack {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: normal;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.home-onnow > label {
    font-weight: bold;
    display: inline-block;
    padding-bottom: 8px;
}

.home-hdr > label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
.top-albums td {
    padding-right: 50px;
}


/* playlist editor */
.arrowCell {
    vertical-align: top;
    padding-top: 6px;
}

/* album details */
.currentsTop {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: #cccccc;
    font-size: 80%;
    background-color: #eeeeee;
    color: #000000;
}
.currentsBottom {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #cccccc;
    font-size: 80%;
    color: #000000;
}

/* DJ Zone! */
.recentPlays, .recentReviews {
    vertical-align: top;
}
table.djzone td:last-child {
    width: 100%;
}

/* library editor */
td.label-form a {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: solid #696969 2px;
    padding: 8px 10px;
    border-radius: 4px;
    display: inline-block;
    width: 120px;
    font: 15px sans-serif;
    text-align: center;
    z-index: 100;
}
td.label-form a:focus {
    outline:0;
}
td.label-form span.form-name {
    display: inline-block;
    clear: both;
    float: right;
    font: bold 10px sans-serif;
    color: #cc0000;
}
td.label-form {
    border-style: solid;
    border-width: 1px;
    padding: 8px 10px;
    border-color: #000;
    display: inline-block;
    margin: 0;
    box-shadow:5px 5px 8px #888888;
}
.editorUp {
    top: 0px;
    width: 220px;
    height: 16px;
    border: 0px;
    color: #ffffff;
    font-family: courier;
    font-weight: 900;
    background-color: #2530a7;
}
.editorDown {
    top: 0px;
    width: 220px;
    height: 16px;
    border: 0px;
    font-family: courier;
    font-weight: 900;
    color: #ffffff;
    background-color: #2530a7;
}
.editorChooser {
    width: 220px;
    border-width: 1px;
    overflow: hidden;
    scrollbar-width: none;
}
.editorChooser:focus {
    outline: 0;
}

.trackEditor {
    width: 100%;
}

.trackEditor th {
    font-size: 10pt;
    text-align: left;
    vertical-align: bottom;
    line-height: 10px;
}

.trackTable td {
    line-height: 18px;
}

.trackTable td {
    vertical-align: middle;
}

div.playTrack {
    padding-right: 4px;
}

div.playTrack a {
    filter: invert(59%) sepia(98%) saturate(1900%) hue-rotate(204deg) brightness(94%) contrast(88%); /* #828ae3 see https://codepen.io/sosuke/pen/Pjoqqp */
    padding-right: 2px;
    padding-bottom: 2px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-image: URL("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0MCIgdmlld0JveD0iNCA0IDQwIDQwIiB3aWR0aD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIwIDMzbDEyLTktMTItOXYxOHptNC0yOUMxMi45NSA0IDQgMTIuOTUgNCAyNHM4Ljk1IDIwIDIwIDIwIDIwLTguOTUgMjAtMjBTMzUuMDUgNCAyNCA0em0wIDM2Yy04LjgyIDAtMTYtNy4xOC0xNi0xNlMxNS4xOCA4IDI0IDhzMTYgNy4xOCAxNiAxNi03LjE4IDE2LTE2IDE2eiIvPjwvc3ZnPgo=");
}

div.playTrack:hover {
    filter: saturate(10);
}

/* layout */
div.box {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
div.leftNav {
    float: left;
    margin-top: 0px;
    margin-left: 2px;
    text-align: left;
    width: 165px;
}
div.leftNav a {
    color: #000000;
    text-decoration: none;
    font-size: 12pt;
}
div.leftNav td a:hover {
    color: #91a3ce;
    text-decoration: underline;
}
div.headerListen p a {
    text-align: right;
    font-size: 14px;
    line-height: 14px;
}
div.headerLogo {
    float: left;
    width: 200px;
    line-height: 1.1;
}
div.headerLogo img {
    padding-top: 8px;
    width: 200px;
}
div.content {
    position: relative;
    float: right;
    width: 710px;
    padding: 10px;
    min-height: 450px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
div.footer {
    width: auto;
    clear: both;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 10px;
}
div.footer a:hover {
    text-decoration: underline;
}
p.zktitle a {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 10px;
    text-decoration: none;
}

#playlist-date {
    width: 200px;
}

#playlist-calendar {
    position: relative;
    top: 4px;
}

#playlist-list {
    margin-top: 10px;
}

/* primary navigation */
.nav:link { color: #990010; }
.nav:visited { color: #990010; }
.nav:active { color: #990010; }
.nav2:link { color: #000000; }
.nav2:visited { color: #000000; }
.nav2:active { color: #ff0000; }
.nav2sel:link { color: #91a3ce; }
.nav2sel:visited { color: #91a3ce; }
.nav2sel:active { color: #ff0000; }
.nav3:link { color: #d83d04; }
.nav3:visited { color: #d83d04; }
.nav3:active { color: #d83d04; }
.nav3s { color: #d83d04; font-size: 80%; }

/* secondary navigation */
.linkhead {
    font-family: verdana, arial, helvetica, sans-serif;
}
.linkhead:active {
    font-size: 100%;
    font-weight: bold;
    color: #cc0000;
    text-decoration: none;
}
.linkhead:link {
    font-size: 100%;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.linkhead:visited {
    font-size: 100%;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
.linkrow {
    line-height: 5px;
    background-color: #2530a7;
}
.secNorm {
    padding-top: 2px;
    background-color: #5863da;
}
.secSel {
    padding-top: 2px;
    background-color: #2530a7;
    color: #ffffff;
}
.secSelSub {
    background-color: #2530a7;
    color: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 80%;
}
.secCell {
    vertical-align: bottom;
    padding: 0px;
    border-spacing: 0px;
}

/* general */
.playlistBanner {
    font-size: 11pt;
    font-weight: bold;
    color: white;
    background-color: #2530A7;
    line-height: 24px;
    margin-bottom: 4px;
}
.playlistBanner > div {
    font-size: 11pt;
    float: right;
    font-size: 10px;
}

.playlistHdr {
    border-bottom: 1px solid gray;
}
.playlistTable {
    width: 100%;
}

.home-onnow, .chart-year-pick, th {
    font-size: 11pt;
    font-weight: bold;
    color: #000000;
}
th.sec {
    color: white;
    background-color: #2530a7;
    text-align: left;
}
.secdiv, .secdiv th, th.sec {
    padding-left: 4px;
    color: white;
    background-color: #2530a7;
}
.error {
    font-weight: bold;
    color: #cc0000;
}
.input { }
.sel:link { color: #ff0000; }
.sel:visited { color: #ff0000; }
.sel:active { color: #ff0000; }
table.recentAirplay td, .sub {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 8pt;
    color: #000000;
}
.sub2 {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 8pt;
    color: #ffffff;
}
.tablesorter-default tr:hover .sub2 {
    color: #000000;
}
.subhead2 {
    color: #d83d04;
    font-size: 10pt;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 5px;
}
.submit {
    color: #ffffff;
    background-color: #5863da;
    border-width: 1px;
    border-color: #3843ba;
}
.success {
    color: #006600;
}
.text, .urlValue {
    padding: 2px;
    border: 1px solid #2833aa;
}
.textsp {
    padding: 1px;
    border: 1px solid #2833aa;
    width: 120px;
}
.zk-hidden {
    display: none;
}
.track-info, .remaining, .given-name {
    color: gray;
}
.track-error {
    color: red;
}

.pl-form {
    margin-top: 8px;
    margin-left: 4px;
}
.pl-form-entry {
    padding-top: 4px;
}

.pl-form-entry input, .pl-form-entry select {
    width: 300px;
    box-sizing: border-box;
    height: 24px;
    margin-bottom: 4px;
}

.pl-form-entry textarea {
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.pl-form-entry button:not(.edit-mode) {
    width: 148px;
    height: 24px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    white-space: nowrap;
}

.pl-form-entry button.edit-mode {
    width: 97px;
    height: 24px;
    color: #000;
    background-color: #f4f4f4;
    border-radius: 4px;
    border: 1px solid #cdcdcd;
}
.pl-form-entry button.edit-mode:hover {
    background-color: #f8f8f8;
}
.pl-form-entry button.edit-mode:active {
    background-color: #d6d6d6;
}
.pl-form-entry button#edit-save {
    color: #fff;
    border: 1px solid #5796ed;
    background-color: #5897ee;
}
.pl-form-entry button#edit-save:disabled {
    color: gray;
    border: 1px solid #ccc;
    background-color: #ccc;
}
.pl-form-entry button#edit-save:hover:not(:disabled) {
    background-color: #5ba4fc;
}
.pl-form-entry button#edit-save:active:not(:disabled) {
    background-color: #5897ee;
}
.pl-form-entry button#edit-delete {
    color: #e33437;
    border-color: #e33437;
}

.form-entry label, .pl-form-entry label {
    display:inline-block;
    font-weight: bold;
}

.pl-form-entry label {
    width: 84px;
}

.zk-popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.zk-popup .zk-popup-content {
    position: relative;
    margin: auto;
    padding: 12px 22px;
    width: 300px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.2);
}
.zk-popup .zk-popup-content .zk-popup-actionarea {
    padding-top: 22px;
    text-align: right;
}
.zk-popup-actionarea button {
    width: 80px;
    margin-left: 5px;
}
.zk-popup-actionarea button.default {
    font-weight: bold;
}

input[type="radio"], 
input[type="checkbox"] {
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin: 2px 5px 5px 2px;
    border: 1px solid #A5A5A5;
    background: -webkit-linear-gradient(#FCFCFC, #DADADA);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
}
input[type="checkbox"] {
    -webkit-border-radius:2px;
    border-radius:2px;
}
input[type="radio"]:not(:disabled), 
input[type="checkbox"]:not(:disabled) {
    box-shadow:inset 1px 1px 0 #fff, 0 1px 1px rgba(0,0,0,0.1);
}
input[type="radio"]:not(:disabled):hover,
input[type="checkbox"]:not(:disabled):hover {
    border-color:rgba(0,0,0,0.4);
    box-shadow:inset 1px 1px 0 #fff, 0 0 4px rgba(0,0,0,0.2);
}
input[type="radio"]:active:not(:disabled),
input[type="checkbox"]:active:not(:disabled) {
    background-image: -webkit-linear-gradient(#C2C2C2, #EFEFEF);
    box-shadow:inset 1px 1px 0 rgba(0,0,0,0.2), inset -1px -1px 0 rgba(255,255,255,0.6);
    border-color:#707070;
}
input[type="radio"]:checked,
input[type="radio"]:checked:active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAMAAADXT/YiAAAAVFBMVEX///9eXl5RUVEzMzMbGxszMzNRUVEiIiJRUVFFRUUzMzMiIiJFRUUzMzNRUVFRUVE6OjorKysiIiJRUVFFRUU6OjozMzMrKytRUVFFRUUzMzMrKyvGHNe0AAAAHHRSTlMAERERESJmZnd3d3eIiJmqqqqqzMzMzMzd3d3dIlELBQAAAEFJREFUCNdjYEACLOxC3CwgBrOgtLi4ICuQxSUlBgS8QJaAKAgIAFmckiIiIpI8QBYTn4SwBD8TSAsjGz8HI7JhAH1fArjBaKLrAAAAAElFTkSuQmCC") center no-repeat, -webkit-linear-gradient(#FCFCFC, #DFDFDF);
}
input[type="checkbox"]:checked,
input[type="checkbox"]:checked:active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAMAAADXT/YiAAAAOVBMVEX///8zMzMqKipCQkI8PDwzMzNISEhISEhISEhCQkIqKio8PDwzMzMqKipISEhCQkI8PDwzMzMqKipFad0NAAAAE3RSTlMAIiIzMzNEZnd3qru7u8zMzMzMuKlnZwAAADhJREFUCNdjYIACJhjNJQRl8ApBWIw8goKsDDw8UAaDgAA3t4AAC1CGkx8ImMGKOPj42KAmsEMYAEUyAa2GdxXhAAAAAElFTkSuQmCC") center no-repeat, -webkit-linear-gradient(#FCFCFC, #DFDFDF);
}

/* base styling for tables that show list data, eg tracks.
 */
.searchTable {
    text-align:left;
}
.searchTable > thead > tr {
    border-bottom: 1px solid gray;
}
.albumReview {
    background-image: URL('../img/rinfo.gif');
    width:11px;
    height:11px;
}
.albumNoReview {
    width:11px;
    height:11px;
}
.albumPlayable {
    float: right;
    width: 11px;
    height: 11px;
    background-size: 11px;
    background-repeat: no-repeat;
    background-image: URL('../img/discicon.svg');
}

.tablesorter-default, .tablesorter-default .header, .tablesorter-default .tablesorter-header {
    font: inherit;
}

/* tighten up tablesorter's spacing */
.tablesorter-default td {
    padding: 2px 0;
}

.tablesorter-default  .header, .tablesorter-default .tablesorter-header {
    font-weight: bold;
    padding: 0px 16px 0px 0px;
}

/* up/down & edit links for playlist edits */
.songManager {
    top: 8px;
    height: 20px;
    width: 38px;
    position: relative;
    font-size:12px;
}

.songManager a {
    position: absolute;
    line-height: 1.4;
    background-repeat: no-repeat;
    width: 10px;
    height: 4px;
}

.songEdit {
    top: -2px;
    left: 14px;
    font-size:14px;
}

.songLabel {
    font-size:10px;
}

.songDivider hr {
    position: relative;
    top: 3px;
    height: 0px;
    background-color: gray;
}

.logEntry, .logEntry td,
.logEntryEdit, .logEntryEdit td {
    /* entire log entry row */
}

.logEntry td:not(:nth-of-type(1)) {
    /* log entry details in view playlist (not editor) */
}

.logEntryEdit td:nth-of-type(n+3) {
    /* log entry details in playlist editor */
}

.commentRow, .commentRow td,
.commentRowEdit, .commentRowEdit td {
    /* entire comment row */
}

.commentRow td:not(:nth-of-type(1)) {
    /* comment details in view playlist (not editor) */
    font-size: small;
}

.commentRowEdit td:nth-of-type(n+3) {
    /* comment details in playlist editor */
}

.markdown-help {
    padding: 10px 0px;
    display: none;
}

.markdown-help table,
.markdown-help table td,
.markdown-help table th {
    border: 1px solid #333;
    background-color: #ffc;
    padding: 2px 10px;
    min-width: 180px;
    text-align: left;
}

.markdown-help table th {
    background-color: #333;
    color: white;
}

.user-tip {
    margin-top: 10px;
    padding: 2px 10px;
    display: none;
    border: 1px solid #333;
    background-color: #ffc;
    min-width: 180px;
    text-align: left;
}

.grab {
    position: absolute;
    line-height: 1.4;
    cursor: grab;
}
.grabbed {
    border: 1px solid #888;
    background-color: #f9fbdf;
/* box-shadow doesn't work in webkit: */
    box-shadow: 0 0 13px #000;
}
.grabCursor, .grabCursor * {
    cursor: move !important;
}

.invalid-input, .fxtime:invalid {
    border: 2px solid #f88;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #f88, inset 0px 0px 2px #f88;
}

.prefilled-input {
    padding: 2px 3px 2px 3px ;
    border: 2px solid #0c0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #f88, inset 0px 0px 2px #f88;
}

.highlight {
    background-color: #ff9;
}

.date, .time {
    white-space: nowrap;
}

a:hover.copy {
    text-decoration: none;
}
.apikey {
    font-family: monospace;
}

/* home page recently played */
.recently-played {
    display: block;
    margin-top: 0;
    padding-top: 0;
    transition: all 1000ms ease-in-out;
}

.recently-played .card {
    display: inline-block;
    width: calc(20% - 16px);
    vertical-align: top;
    margin: 7px;

    overflow: hidden;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
    position: relative;
    text-align: left;
}

.recently-played .card .artwork {
    width: 100%;
    max-height: 126px;
    min-height: 126px;
    display: block;
    top: 0;
    left: 0;
    transition: all 400ms ease 0s;
    opacity: 1;
    border: 0;
    object-fit: cover;
    object-position: center 10%;
}

.recently-played .card .info {
    padding-top: 10px;
    box-sizing: content-box;
    height: 85.6px;
    display: block;
    text-align: left;
    margin-top: 0;
    margin-left: 10px;
}

.recently-played .card .info .details {
    line-height: 1.4;
    overflow: hidden;
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    padding-top: 0;
}

.recently-played .card .info .track {
    font-size: 15px;
    max-height: 42px;
    color: #333;
}

.recently-played .card .info .artist {
    font-size: 12px;
    max-height: 33.6px;
    color: #555;
}

.recently-played .card .time {
    display: block;
    padding-top: 10px;
    font-size: 12px;
    border-top: 1px solid #f5f5f5;
    color: #666;
    margin: 0 0 10px 10px;
}

.recently-played-date-picker {
    position: relative;
}

.recently-played-date-picker h3 {
    display: inline-block;
}

.recently-played-date-picker div {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.recently-played-date-picker select {
    margin-left: 10px;
}

.show-more {
    text-align: center;
    padding-bottom: 20px;
}

/* artwork on album details page */
.album-info {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
}

.album-thumb {
    display: inline-block;
    padding: 2px 6px 2px 0;
}

.album-thumb img {
    max-height: 126px;
    min-height: 126px;
    width: 126px;
    object-fit: cover;
    object-position: center 10%;
}

div.toggle-time-entry {
    position: relative;
    float: right;
}
div.toggle-time-entry div {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    width: 17px;
    height: 17px;
    background-image: url('../img/clock-icon.svg');
}

.play-now {
    z-index: 9;
}
.play-now button {
    font-size: 10px;
    height: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #2b547e;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.play-now button:hover {
    background-color: #3b648e;
}
.play-now button:active {
    transform: translate(1px, 1px);
}

.track-submit:disabled {
    color: gray;
}
.track-submit:disabled img {
    opacity: 0.5;
}
.track-submit img {
    margin-bottom: -1px;
    padding-left: 5px;
}
.track-submit#track-play img {
    width: 8px;
    height: 11px;
}
.track-submit#track-add img {
    width: 20px;
    height: 10px;
}

.fxtime {
    font-family: monospace;
}
