<IfModule mod_rewrite.c>
RewriteEngine on
# rewrite asset-numericStamp.ext to asset.ext and minify
RewriteCond $1 !^\..*$
RewriteRule ^([^-]+)(-[0-9]+)(^\.src)?\.js$ .jshandler.php/$1.js [L]
RewriteRule ^([^-]+)(-[0-9]+)\.src\.js$ $1.js [L]
RewriteRule ^([^-]+)(-[0-9]+)?\.map$ .mapgenerator.php/$1.js [L]
</IfModule>
