{% macro medium(spin) %}
  {%~ if spin.medium == 'S' %}
    7"
  {%~ elseif spin.medium == 'T' %}
    10"
  {%~ elseif spin.medium == 'V' %}
    12"
  {%~ endif %}
{% endmacro %}
<div class='top30'>
{% for week, charts in allcharts %}
  <div>
    <h2>Week ending {{ week | date(dateSpec) }}</h2>
  {%~ for cat, chart in charts %}
    {%~ if chart|length %}
    <section>
      <header>{{ cat ? categories[cat-1].name : 'Top ' ~ top.main }}</header>
      {%~ for spin in chart %}
        {%~ set href = '?action=search&s=byAlbumKey&n=' ~ spin.tag %}
        {%~ set artist = spin.artist == 'COLL' ? 'Various Artists' : spin.artist %}
        {%~ set medium = _self.medium(spin) %}
        {%~ set label = spin.label | replace({' Records': '', ' Recordings': '' }) %}
      <article data-href='{{ href }}' tabindex='0'>
        <span class='artist'>{{ entry.swapNames(artist) }}</span>
        <span class='album'><a href='{{ href }}'>{{ spin.album }}</a></span>
        <span class='meta'>
        {%~ if medium %}
          <span>{{ medium|trim }}</span>
        {%~ endif %}
          <span>{{ label }}</span>
        </span>
      </article>
      {%~ endfor %}
    </section>
    {%~ endif %}
  {%~ endfor %}
  </div>
{% endfor %}
</div>
<script>
    const color = $("body").css("background-color");
    if(color != "rgb(235, 235, 235)") {
        $("body").css("--theme-content-background-colour", "#ebebeb")
            .data("saved-background-colour", color);
        $("div.content").css("background-color", "#ebebeb");
    }

    $(".top30 article").on('click keydown', function(e) {
        if (e.type == 'keydown' && e.which != 13)
            return;

        location.href = this.dataset.href;
    });
</script>
