AddDefaultCharset UTF-8

# set php error reporting to E_ALL & ~E_NOTICE (=32759)
<IfModule mod_php5.c>
    php_value error_reporting 32759
    php_value default_charset UTF-8
</IfModule>
<IfModule mod_php7.c>
    php_value error_reporting 32759
    php_value default_charset UTF-8
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^zkrss\.php$ index.php?target=rss [QSA,L]
RewriteRule ^zkapi\.php$ index.php?target=api [QSA,L]
RewriteRule ^ssoLogin\.php$ index.php?target=sso [QSA,L]
RewriteRule ^zk$ - [R=404,L]
</IfModule>
