AddDefaultCharset UTF-8

# set php error reporting to E_ALL & ~E_NOTICE (=32759)
# for PHP 5:
<IfModule mod_php5.c>
    php_value error_reporting 32759
    php_value default_charset UTF-8
    php_value request_order GPC
</IfModule>
# for PHP 7:
<IfModule mod_php7.c>
    php_value error_reporting 32759
    php_value default_charset UTF-8
    php_value request_order GPC
</IfModule>
# for PHP 8 and later:
<IfModule mod_php.c>
    php_value error_reporting 32759
    php_value default_charset UTF-8
    php_value request_order GPC
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^zkrss\.php$ index.php?target=rss [QSA,L]
RewriteRule ^zkapi\.php$ index.php?target=api [QSA,L]
RewriteRule ^ssoLogin\.php$ index.php?target=sso [QSA,L]
RewriteCond $0 !^\.mdhandler.php/.*$
RewriteRule ^(.+)\.md$ .mdhandler.php/$1.md [L]
RewriteRule ^zk$ - [R=404,L]
RewriteCond %{HTTP:Upgrade} websocket [NC]
RewriteCond %{HTTP:Connection} upgrade [NC]
RewriteRule ^/?(.*) "ws://127.0.0.1:32080/$1" [P,L]
</IfModule>
