<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^zkrss\.php$ index.php?target=rss [QSA,L]
RewriteRule ^zkapi\.php$ index.php?target=api [QSA,L]
RewriteRule ^ssoLogin\.php$ index.php?target=sso [QSA,L]
</IfModule>
