{%- macro catnames(catmap, categories) %}
    {%~ set names = [] %}
    {%~ set cats = categories | split(',') %}
    {%~ for cat in cats -%}
        {%~ if not (catmap[cat - 1].name starts with '(') %}
            {%~ set names = names | merge([ catmap[cat - 1].name ]) %}
        {%~ endif %}
    {%- endfor -%}
    {{ names | join(', ') }}
{%- endmacro -%}

{%- set today = "now" | date("Y-m-d") %}
{%- set afile_number = app.session.isAuth('u')
        and currents | length
        and currents[0].adddate <= today
        and currents[0].pulldate > today ?
    "<span style='font-weight: normal; font-size: 1rem; margin-left: 0.25em'>(File #" ~ currents[0].afile_number | e ~ ")</span>" %}
<h2><img src='img/album-charts.svg'> Charting {{ afile_number | raw }}</h2>
{% for current in currents %}
<div>{{ current.adddate }} &mdash; {{ current.pulldate }}
{% if current.category %}
<span style='margin-left: 0.25em; color: #555'>{{ _self.catnames(CATMAP, current.category) }}</span>
{% endif %}
</div>
{% if current.spins | length %}
<table class='currents-activity'>
  <tr>
    <th>Week Ending</th><th>Airplays</th>
  </tr>
  {%~ for week in current.spins %}
  <tr>
    <td class='date'>{{ week.week | date(DATE_FORMAT_SHORT) }}</td>
    <td>{{ week.plays }}</td>
  </tr>
  {%~ endfor %}
</table>
{% endif %}
{% endfor %}

