{%- macro catnames(catmap, categories) %}
    {%~ set names = [] %}
    {%~ set cats = categories | split(',') %}
    {%~ for cat in cats -%}
        {%~ if not (catmap[cat - 1].name starts with '(') %}
            {%~ set names = names | merge([ catmap[cat - 1].name ]) %}
        {%~ endif %}
    {%- endfor -%}
    {{ names | join(', ') }}
{%- endmacro -%}

{%- set today = "now" | date("Y-m-d") %}
{%- set afile_number = app.session.isAuth('u')
        and currents | length
        and currents[0].adddate <= today
        and currents[0].pulldate > today ?
    "<span style='margin-left: 0.25em'>(File #" ~ currents[0].afile_number | e ~ ")</span>" %}
<div class='secdiv'>A-File Activity {{ afile_number | raw }}</div>
{% for current in currents %}
<table class="currents-details">
  <tr>
    <th>Add Date:</th>
    <td class='date'>{{ current.adddate }}</td>
    <th>Pull Date:</th>
    <td class='date'>{{ current.pulldate }}</td>
{% if current.category %}
    <th>Charts:</th>
    <td>{{ _self.catnames(CATMAP, current.category) }}</td>
{% endif %}
  </tr>
</table>
{% if current.spins | length %}
<table class='currents-activity'>
  <tr>
    <th>Week Ending:</th>
    {%~ for week in current.spins %}
    <td class='date'>{{ week.week | date(DATE_FORMAT_SHORT) }}</td>
    {%~ endfor %}
  </tr>
  <tr>
    <th>Airplays:</th>
    {%~ for week in current.spins %}
    <td>{{ week.plays }}</td>
    {%~ endfor %}
  </tr>
</table>
{% endif %}
{% endfor %}
<br>
