{% if image_url %}
<div class='album-preview'>
  {%~ if info_url %}
  <a href='{{ info_url }}' target='_blank'><img data-lazysrc='{{ image_url }}' title='View album in Discogs' /></a>
  {%~ else %}
  <img data-lazysrc='{{ image_url }}' />
  {%~ endif %}
</div>
{% endif %}

{% set artist = album.iscoll ? 'Various Artists' : album.artist %}
<h1 style='font-size: 1.3rem; margin-bottom: 0'>{{ album.album }}
{%- if app.session.isAuth("u") %}
  <span style='font-weight: normal; font-size: 1rem; margin-left: 0.25em'>(Tag #{{ album.tag }})</span>
{% if app.session.isAuth("m") %}
  <a style='font-weight: normal; font-size: 1rem; margin-left: 0.25em' href='?action=editor&amp;seltag={{ album.tag }}'>Edit album</a>
{% endif %}
{% endif -%}
</h1>
<div style='font-size: 1.1rem'>
{%- if album.iscoll -%}
        {{ artist }}
{%- else -%}
        <a href="?s=byArtist&amp;n={{ artist | e('url') }}&amp;action=search" class="nav">{{ artist }}</a>
{%- endif -%}
</div>

{%- if album.pubkey -%}
<div style='font-size: 1rem;'>
        <a href="?action=search&amp;s=byLabelKey&amp;n={{ album.pubkey }}" class="nav">{{ album.name }}</a>
</div>
{%- endif -%}

<div style='font-size: 1rem; margin-top: 10px'>
{%- set showMissing = 'missing' -%}
{%- if album.location == 'G' -%}
        <i>Deep Storage {{ album.bin }}</i> |
{%- elseif album.location == 'M' -%}
        <i>Missing</i> |
  {%- set showMissing = 'found' -%}
{%- elseif album.location == 'C' -%}
        <i>A-File</i> |
{%- elseif album.location == 'E' -%}
        <i>Review Shelf</i> |
{%- elseif album.location == 'F' -%}
        <i>Out for Review</i> |
{%- elseif album.location == 'U' -%}
        <i>Deaccessioned</i> |
  {%- set showMissing = false -%}
{%- endif %}

        {{ GENRES[album.category] }} {{ album.medium != 'C' ? MEDIA[album.medium] }}

| {{ album.created | date('M Y') }}
{% if app.session.isAuth('u') and showMissing -%}
| <a href="{{ report_missing_url }}" class="nav" target="_blank">Report {{ showMissing }}...</a>
{%- endif -%}
</div>
  {%- if app.session.isAuth('u') -%}
<div style='font-size: 1rem; margin-top: 20px'>
        <a href="?action=searchReviewEdit&amp;tag={{ album.tag }}" class="nav"><b>Write a review of this album</b></a>
</div>
{%- endif -%}

<div>
{% if hashtags | length %}
  <div class='album-hashtag-area' style='font-size: 1.1rem'>
{% for hashtag in hashtags %}
    <a href='?action=search&amp;s=byHashtag&amp;n={{ hashtag.name | slice(1) }}'><span class='album-hashtag palette-{{ hashtag.index }}'>{{ hashtag.name }}</span></a>
{% endfor %}
  </div>
{% endif %}
</div>
<script>
   document.querySelectorAll('img[data-lazysrc]').forEach(img => {
      img.onload = () => {
          img.style.opacity = 1;
      };
      img.onerror = () => {
          document.querySelectorAll('.album-preview').forEach(preview => {
              preview.style.display = 'none';
          });
      };
      img.src = img.dataset.lazysrc;
      delete img.dataset.lazysrc;
   });
</script>
