<div class='secdiv'>Album Review{{ reviews | length > 1 ? "s" }}</div>
{% set space = false %}
<table cellpadding=2 cellspacing=2 width="100%">
{% for review in reviews %}
  {%~ if space %}
  <tr><td colspan=3>&nbsp;</td></tr>
  {%~ endif %}
  {%~ set space = true %}
  <tr><td><b>{{ review.airname }}</b><br>
  <span class="sub">Reviewed {{ review.created | slice(0, 10) }}
    {{ review.private ? ' <font color="#cc0000">(private)</font>' : '&nbsp;' }}
  </span></td></tr>

  {%~ if app.session.getUser() == review.user %}
    <tr colspan=3><td><font size=-1><a href="?action=searchReviewEdit&amp;tag={{ review.tag }}">[This is my review and I want to edit it]</a></font></td></tr>
  {%~ endif %}
    <tr><td colspan=3 class="review">
{{ review.review | nl2br }}
    </td></tr>
{% endfor %}
</table><br>
