{% macro tracklink(searchBy, name) %}
<a href='?s={{ searchBy }}&amp;n={{ name | e('url') }}&amp;action=search'>{{ name }}</a>
{%- endmacro -%}
<div class='album-tracks'>
  <h2>Track listing</h2>
<table class='trackTable'>
  {%~ for track in tracks %}
  <tr>
    <td>
    {%~ if track.url %}
      <div class='playTrack'><a target='_blank' href='{{ track.url }}'></a></div>
    {%~ endif %}
    </td>
    <td>{{ track.seq }}.</td>
    <td width='99%'>
        {{ track.track }}
  {%~ if album.iscoll %}
    <div style='font-size: 14px'>{{ _self.tracklink('byArtist', track.artist) }}</div>
  {%~ endif %}
    </td>
    <td align=right>{{ track.duration }}</td>
  </tr>
  {%~ endfor %}
</table>
</div>
