<div class='album-details'>
{% if album %}
{% include 'album/info.html' %}

{%- if reviews | length %}
{% include 'album/reviews.html' %}
{% endif -%}

<div class='album-recent-chart-box'>
{% if recent | length %}
<div>
{% include 'album/recent.html' %}
</div>
{% endif %}

{%- if currents | length %}
<div>
{% include 'album/currents.html' %}
</div>
{% endif %}
</div>

{%- block tracks %}
{% if tracks | length %}
{% include 'album/tracks.html' %}
{% endif %}
{% endblock %}
{% else %}
<h3>No album found</h3>
{% endif %}
</div>
