{% block banner %}
{% set showName = playlist.description %}
{% set djId = playlist.aid %}
{% set djName = playlist.airname ?? "None" %}
{% set djLink = djId ? "<a href='?subaction=viewDJ&amp;seq=selUser&amp;viewuser=" ~ djId ~ "' class='nav2'>" ~ djName | e ~ "</a>" : djName | e %}

<div class='playlistBanner'><span id='banner-caption'><span id='banner-description'>{{ showName }}</span> <span id='banner-dj'>with {{ djLink | raw }}</span></span><div><span id='banner-date-time'>{{ showDateTime }}</span>
{%- if editMode %}
<button id='pl-banner-edit-button' title='Edit playlist'>Edit</button>
{%- elseif app.session.isAuth('v') -%}
<a href='javascript:document.duplist.submit();' id='pl-banner-dup-button' title='Duplicate playlist'><i class='fas fa-clone dup-playlist'></i></a><form name='duplist' action='?' method='POST'><input type='hidden' name='subaction' value='editList'><input type='hidden' name='duplicate' value='1'><input type='hidden' name='playlist' value='{{ playlist.id }}'></form>
{%- endif -%}
</div></div>
{% if editMode %}
<datalist class='airnames'>
  {%~ for airname in airnames %}
  <option value='{{ airname }}'>
  {%~ endfor %}
</datalist>
<div class='pl-banner-edit'>
  <div class='description'>
    <label>Show</label>
    <input pattern='.*\S.*' maxlength='{{ MAX_DESCRIPTION_LENGTH }}' required>
  </div>
  <div class='airname'>
    <label>DJ</label>
    <input pattern='.*\S.*' maxlength='{{ MAX_AIRNAME_LENGTH }}' required>
  </div>
  <div class='date'>
    <label>Date</label>
    <input required>
  </div>
  <div class='start time'>
    <label>Start</label>
    <input required>
  </div>
  <span class='separator'>-</span>
  <div class='end time'>
    <label>End</label>
    <input required>
  </div>
  <div class='pl-banner-actions'>
    <button class='default' id='pl-banner-save'>Save</button>
    <button id='pl-banner-cancel'>Cancel</button>
  </div>
</div>
{% endif %}

<script><!--
{#
   Truncate the show name (banner-description) so that the combined
   show name, DJ name, and date/time fit on one line.
 #}
  $().ready(function() {
      var maxWidth = $(".playlistBanner").outerWidth();
      var dateWidth = $(".playlistBanner div").outerWidth();
      if($("#banner-caption").outerWidth() + dateWidth > maxWidth) {
          var width = maxWidth - $("#banner-dj").outerWidth() - dateWidth - 12;
          $("#banner-description").outerWidth(width);
      }

      $(".share-link").on('click', function() {
          navigator.clipboard.writeText($(this).data('link')).then(function() {
              alert('Playlist URL copied to the clipboard!');
          });
      });
  });
  // -->
</script>
{% endblock %}
{#--------------------------------------------------------------------------#}
{% block entry %}
{% set isLiveShow = not editTrack and isLive %}
<div id='in-progress' class='zk-popup'></div>
<div class='pl-add-track pl-form-entry form-entry'>
    <input id='show-time' type='hidden' value="{{ playlist.showtime }}" >
    {#~ TZO is server equivalent of javascript Date.getTimezoneOffset() #}
    <input id='timezone-offset' type='hidden' value="{{ TZO }}" >
    <input id='track-playlist' type='hidden' value='{{ playlist.id }}'>
    <input id='track-action' type='hidden' value='{{ app.request.subaction }}'>
    <input id='track-hash' type='hidden' value='{{ playlist.hash }}'>
    <input id='const-prefix' type='hidden' value='{{ NME_PREFIX }}'>
    <input id='comment-max' type='hidden' value='{{ MAX_COMMENT_LENGTH }}'>
    <label></label><span class='error-msg error'></span>
    <div>
        <div class='dot-menu pull-right' tabindex='-1'>
          <div class='dot-menu-dots no-text-select'>&#x22ee;</div>
          <div class='dot-menu-content'>
            <ul>
              <li><a href='?target=export&amp;playlist={{ playlist.id }}&amp;format=csv' class='nav' download='playlist.csv' title='export playlist as CSV'>Export CSV</a>
              <li><a href='api/v1/playlist/{{ playlist.id }}' class='nav' download='playlist.json' title='export playlist as JSON'>Export JSON</a>
              <li><a href='?target=export&amp;playlist={{ playlist.id }}&amp;format=html' class='nav' target='_blank' title='printable playlist (opens in new window)'>Print View</a>
            </ul>
          </div>
        </div>
        <label>Type:</label>
        <select class='track-type-pick'>
           <option value='manual-entry'>Music</option>
           <option value='comment-entry'>Comment</option>
           <option value='set-separator'>Mic Break (separator)</option>
           {%~ for nme in app.nme %}
           <option data-args='{{ nme.args }}' value='{{ NME_PREFIX ~ nme.name }}'>{{ nme.name }}</option>
           {%~ endfor %}
        </select>
    </div>
{% block trackEntry %}
{#
    IMPORTANT: Do not use element IDs in the trackEntry block,
    as it occurs multiple times in the page.
#}
    <div class='track-entry'>
        <div class='manual-entry'>
            <div style='white-space: nowrap'>
                <label>Artist / Tag:</label>
                <input required class='track-artist' autocomplete='off' maxlength={{ MAX_FIELD_LENGTH }} data-focus />
                <span class='track-info'>Artist name or tag number</span>
                <datalist class='track-artists'>
                </datalist>
            </div>
            <div>
                <label>Track:</label>
                <input required class='track-title' maxlength={{ MAX_FIELD_LENGTH }} autocomplete='off'/>
                <datalist class='track-titles'>
                </datalist>
            </div>
            <div>
                <label>Album:</label>
                <input class='track-album' maxlength={{ MAX_FIELD_LENGTH }} />
            </div>
            <div>
                <label>Label:</label>
                <input class='track-label' maxlength={{ MAX_FIELD_LENGTH }} />
            </div>
        </div>
        <div class='comment-entry' class='zk-hidden' >
            <div>
                <label style='vertical-align: top'>Comment:</label>
                <textarea wrap=virtual class='comment-data' rows=4 maxlength={{ MAX_COMMENT_LENGTH }} required data-focus></textarea>
                <div style='display: inline-block;'>
                    <span class='remaining'>(0/{{ MAX_COMMENT_LENGTH }} characters)</span><br/>
                    <a class='markdown-help-link' href='#'>formatting help</a>
                </div>
            </div>
            {%~ include 'markdown-help.html' %}
        </div>
        <div class='nme-entry' class='zk-hidden' >
            <div>
                <label>Name/ID:</label>
                <input class='nme-id' maxlength={{ MAX_FIELD_LENGTH }} data-focus/>
            </div>
        </div>
    </div> <!-- track-entry -->
{% endblock %}
    <div id='time-entry'{{ isLiveShow ? " class='zk-hidden'" }}>
      <label>Time:</label>
      <input class='fxtime track-time' type='{{ ttype }}' step='1' min='{{ window.start.format('H:i') }}' max='{{ window.end.format('H:i') }}' data-live='{{ isLiveShow ? 1 : 0 }}' data-last-val='{{ time }}' />
      <span class='track-info'>{{ timeMsg }}</span>
    </div>
    <div>
        <label></label>
        <div class='action-area'>
            <button type='button' disabled id='track-play' class='track-submit default'>Add {{ isLiveShow ? "(Playing Now)<img src='img/play.svg' />" : "Item" }}</button>
            <button type='button' disabled id='track-add' class='track-submit {{~ not isLiveShow ? " zk-hidden" }}'>Add (Upcoming)<img src='img/play-pause.svg' /></button>
        </div>
    </div>
    <div class='toggle-time-entry {{~ not isLiveShow ? " zk-hidden" }}'><div><!--&#x1f551;--></div></div>
</div> <!-- pl-add-track -->
<hr>
{% include 'list/confirm.html' %}
<div id="extend-show" class="zk-popup">
    <div class="zk-popup-content">
        <h4>You have reached the end time of your show.</h4>
        <p>Extend by:
        <select id="extend-time">
            <option value="5">5 minutes</option>
            <option value="10">10 minutes</option>
            <option value="15">15 minutes</option>
            <option value="30">30 minutes</option>
            <option value="60">1 hour</option>
        </select></p>
        <div class="zk-popup-actionarea">
            <button type="button">Cancel</button>
            <button type="button" class="default" id="extend">Extend</button>
        </div>
    </div>
</div> <!-- extend-show -->
<div class="pl-inline-edit pl-form-entry form-entry">
    <label></label><span class='error-msg error'></span>
    <div>
        <label>Type:</label>
        <select class='track-type-pick'> {# js populates from main form ~#}
        </select>
    </div>
{{ block('trackEntry') }}
{#- #}
    <div id='pl-inline-time-entry'>
      <label>Time:</label>
      <input class='fxtime track-time' type='{{ ttype }}' step='1' min='{{ window.start.format('H:i') }}' max='{{ window.end.format('H:i') }}' data-live='{{ isLiveShow ? 1 : 0 }}' data-last-val='{{ time }}' />
      <span class='track-info'>{{ timeMsg }}</span>
    </div>
    <div>
        <label></label>
        <div class='action-area'>
            <button type='button' id='edit-insert' class='inline-mode default'>Insert Item</button>
            <button type='button' id='edit-save' class='inline-mode default'>Save</button>
            <button type='button' id='edit-cancel' class='inline-mode'>Cancel</button>
        </div>
    </div>
</div> <!-- pl-inline-edit -->
{% endblock %}
{#--------------------------------------------------------------------------#}
{% block body %}
<table class='playlistTable' cellpadding=1>
  <thead>
    <tr class='playlistHdr' align=left>
      {{ editMode ? "<td></td>" }}
      <th width='64px'>Time</th>
      <th width='25%'>Artist</th>
      <th width='25%'>Track</th>
      <th></th>
      <th>Album/Label</th>
    </tr>
  </thead>
  <tbody>
    {%~ include 'list/body.html' %}
  </tbody>
</table>
{% if editMode %}
<script src="{{ 'js/playlists.track.js' | decorate }}"></script>
{% elseif isLive %}
<script src="{{ 'js/playlists.live.js' | decorate }}"></script>
{% endif %}
{% endblock %}
