{% set showName = playlist.description %}
{% set djId = playlist.id %}
{% set djName = playlist.airname ?? "None" %}
{% set djLink = djId ? "<a href='?subaction=viewDJ&amp;seq=selUser&amp;viewuser=" ~ djId ~ "' class='nav2'>" ~ djName | e ~ "</a>" : djName | e %}

<div class='playlistBanner'><span id='banner-caption'>&nbsp;<span id='banner-description'>{{ showName }}</span> <span id='banner-dj'>with {{ djLink | raw }}</span></span><div>{{ showDateTime }}
{%- if editMode and app.session.isAuth('v') -%}
&nbsp;<a href='javascript:document.duplist.submit();' title='Duplicate Playlist'><span class='fas fa-clone dup-playlist'></span></a><form name='duplist' action='?' method='POST'><input type='hidden' name='subaction' value='editList'><input type='hidden' name='duplicate' value='1'><input type='hidden' name='playlist' value='{{ playlistId }}'></form>"
{%- endif -%}
&nbsp;</div></div>

<script><!--
  // Truncate the show name (banner-description) so that the combined
  // show name, DJ name, and date/time fit on one line.
  $().ready(function() {
      var maxWidth = $(".playlistBanner").outerWidth();
      var dateWidth = $(".playlistBanner div").outerWidth();
      if($("#banner-caption").outerWidth() + dateWidth > maxWidth) {
          var width = maxWidth - $("#banner-dj").outerWidth() - dateWidth - 12;
          $("#banner-description").outerWidth(width);
      }

      $(".share-link").on('click', function() {
          navigator.clipboard.writeText($(this).data('link')).then(function() {
              alert('Playlist URL copied to the clipboard!');
          });
      });
  });
  // -->
</script>
