{% macro makeTime(params, entry) %}
   {%~ set created = entry.createdTimestamp %}
   {#~ colon is included in 24hr format for symmetry with fxtime #}
   {%~ set format = params.usLocale ? "h:i a" : "H:i" %}
   {%~ if params.editMode %}
      <td class='time' data-utc='{{ created }}' data-hour='{{ created ? created | date('H') }}'>{{ created ? created | date(format) }}</td>
   {%- else %}
      <td class='time' data-utc='{{ created }}'>{{ created ? created | date(format) }}</td>
   {%- endif %}
{%- endmacro %}

{%- macro makeEditDiv(params, entry) %}
    {%~ if params.editMode %}
      <td>
        <div class='songManager'>
          <span class='grab fas fa-grip-vertical' data-id='{{ entry.id }}'></span>
          <div class='pl-stack'>
            <a class='nav' title='Actions'><span class='fas fa-wrench'></span></a>
            <div class='pl-stack-content'>
              <button class="songEdit" title='Edit'><span class='fas fa-edit'></span></button>
              <button class="songInsert" title='Insert below'><img src='img/insert-below.svg' /></button>
              <button class="songDelete" title='Delete'><span class='fas fa-trash'></span></button>
            </div>
          </div>
        </div>
      </td>
    {%~ endif %}
    {{~ _self.makeTime(params, entry) }}
{%- endmacro %}

{%- macro makeAlbumLink(entry, includeLabel) %}
    {%~ set albumName = entry.album %}
    {%~ set labelName = entry.label %}
    {%~ if albumName | length or labelName | length %}
        {%~ set albumTitle = entry.tag ? "<a href='?s=byAlbumKey&amp;n=" ~ entry.tag | e('url') ~ "&amp;action=search' class='nav'>" ~ albumName | e ~ "</a>" : albumName | smartURL %}
        {%~ if includeLabel %}
            {%~ set albumTitle = albumTitle ~ "<span class='songLabel'> / " ~ labelName | smartURL ~ "</span>" %}
        {%~ endif %}
        {{~ albumTitle | raw -}}
    {%~ endif %}
{% endmacro %}

{%- set break = false %}
{% for entry in entries %}
  {%~ set type = entry.type %}
  {%~ if type is constant('TYPE_SPIN', entry) %}
    {%~ block spin %}
    {#~
        IMPORTANT: If you change the layout in the spin block, revisit
        the function searchPlaylistArtists in playlists.track.js
    #}
    {%~ set reviewCell = entry.reviewed ? "<div class='albumReview'></div>" %}
    {%~ set artistName = entry.tag ? entry.swapNames(entry.artist) : entry.artist %}
    <tr class='songRow'>
      {{~ _self.makeEditDiv(params, entry) }}
      <td>{{ artistName | smartURL }}</td>
      <td>{{ entry.track | smartURL }}</td>
      <td style='width: 15px'>{{ reviewCell | raw }}</td>
      <td>{{ _self.makeAlbumLink(entry, true) }}</td>
    </tr>
    {%~ endblock %}
    {%~ set break = false %}
  {%~ elseif type is constant('TYPE_COMMENT', entry) %}
    {%~ block comment %}
    <tr class='commentRow {{~ params.editMode ? "Edit" }}'>
      {{~ _self.makeEditDiv(params, entry) }}
      <td colspan=4>{{ entry.comment | markdown }}</td>
    </tr>
    {%~ endblock %}
    {%~ set break = false %}
  {%~ elseif type is constant('TYPE_LOG_EVENT', entry) %}
    {%~ block logEvent %}
    {%~ if params.authUser %}
    <tr class='logEntry {{~ params.editMode ? "Edit" }}'>
      {{~ _self.makeEditDiv(params, entry) }}
      <td>{{ entry.logEventType }}</td>
      <td colspan=3>{{ entry.logEventCode }}</td>
    </tr>
    {%~ elseif not break %}
    <tr class='songDivider'>
      {{~ _self.makeTime(params, entry) }}
      <td colspan=4><hr></td>
    </tr>
    {%~ endif %}
    {%~ endblock %}
    {%~ set break = not params.authUser %}
  {%~ else %}
    {%~ block setSeparator %}
    {%~ if params.editMode or not break %}
    <tr class='songDivider'>
      {{~ _self.makeEditDiv(params, entry) }}
      <td colspan=4><hr></td>
    </tr>
    {%~ endif %}
    {%~ endblock %}
    {%~ set break = true %}
  {%~ endif %}
{% endfor %}
