{%- macro emitViewDJAlbum(albums, labelField) -%}
  {%~ for album in albums %}
    {%~ set artist = album.iscoll ? 'Various Artists' : album.artist %}
    {%~ set label = album[labelField] | replace({' Records': '', ' Recordings': ''}) ~%}
      <li>{{ artist }}&nbsp;&#8226;
        <i>
        {%- if album.tag -%}
            <a class='nav' href='?s=byAlbumKey&amp;n={{ album.tag }}&amp;action=search'>{{ album.album }}</a>
        {%- else -%}
            {{ album.album | smartURL }}
        {%- endif -%}
        </i>
      {%- if label | length -%}
        &nbsp;&#8226; ({{ label | smartURL }})
      {%~ endif %}
      </li>
  {%~ endfor %}
{%- endmacro -%}

<div class='djinfo'>

<div class='djinfo-top-10-reviews-box'>

{% if topPlays | length %}
  <div class='djinfo-top-10'>
    <h2>{{ dj.airname }}'s Top {{ limit }}</h2>
    <h3>for the {{ weeks }} weeks ending {{ "now" | date("l, j F Y") }}</h3>
    <ol>
      {{ _self.emitViewDJAlbum(topPlays, "label") }}
    </ol>
  </div>
{% endif %}

{% if recentReviews | length %}
  <div class='djinfo-reviews'>
    {%~ set block = topPlays | length %}
    <h2>{{ block ? '' : dj.airname ~ "'s " ~}} Recent reviews</h2>
    <ul>
      {{ _self.emitViewDJAlbum(recentReviews, "name") }}
    {%~ if moreReviews %}
      <li class='more'><a href='?action=viewRecent&amp;subaction=viewDJ&amp;seq=selUser&amp;viewuser={{ dj.id }}'>More reviews...</a></li>
    {%~ endif %}
    </ul>
  </div>
{% endif %}
</div>

<div class='djinfo-playlists'>
  {%~ set block = topPlays | length or recentReviews | length %}
  <h2>{{ block ? '' : dj.airname ~ "'s " ~}}Recent playlists</h2>
  <table class='searchTable'></table>
  <input type='hidden' id='chunksize' value='6'>
  <script>
    $().ready(function() {
	$("#fkey").val('{{ dj.id }}');
	$("#type").val('playlists').trigger('lsearch');
    });
  </script>
</div>

</div>
