{%- macro emitViewDJAlbum(albums, class, labelField) -%}
  {%~ for album in albums %}
    {%~ set artist = album.iscoll ? 'Various Artists' : album.artist %}
    {%~ set label = album[labelField] | replace({' Records': '', ' Recordings': ''}) ~%}
        <li {{~ class | raw }}>{{ artist }}&nbsp;&#8226;
          <i>
        {%- if album.tag -%}
              <a class='nav' href='?s=byAlbumKey&amp;n={{ album.tag }}&amp;action=search'>{{ album.album }}</a>
        {%- else -%}
              {{ album.album | smartURL }}
        {%- endif -%}
          </i>
      {%- if label | length -%}
          &nbsp;&#8226; ({{ label | smartURL }})
      {%~ endif %}
        </li>
  {%~ endfor %}
{%- endmacro -%}

<table width="100%">
  <tr><td align=right valign=top>
  {%~ if dj.url | length %}
    <a href='{{ dj.url }}' class='nav' target='_blank'><B>Go to {{ dj.airname }}'s website</b></a>
    {%~ if dj.email | length %}
      &nbsp; | &nbsp;
    {%~ endif %}
  {%~ endif %}
  {%~ if dj.email | length %}
    <a href='mailto:{{ dj.email }}' class='nav'><b>e-mail {{ dj.airname }}</b></a>
  {%~ endif %}
  </td></tr>
</table>

<table cellspacing=0>
{% if topPlays | length %}
  <tr><th colspan=2 align=left class='subhead'>&nbsp;{{ dj.airname }}'s top {{ limit }}<br>&nbsp;<font class='subhead2'>for the {{ weeks }} week period ending {{ "now" | date("l, j F Y") }}</font></th></tr>
  <tr><td><ol style='margin-block-start: 0'>
  {{ _self.emitViewDJAlbum(topPlays, "", "label") }}
  </ol></td></tr>
{% endif %}
</table>
{{ topPlays | length ? "<br>" }}

<table width='100%' cellpadding=0 cellspacing=0 border=0>
  <tr><td class='recentPlays' valign=top>
    <table cellspacing=0 border=0>
{% if recentPlays | length %}
      <tr><th colspan=2 align=left class="subhead">&nbsp;{{ topPlays | length ? '' : dj.airname ~ "'s" }} Recent airplay</th></tr>
      <tr><td><ul style='margin-block-start: 0'>
      {{ _self.emitViewDJAlbum(recentPlays, recentReviews | length ? ' class="sub"':'', "label") }}
      </ul></td></tr>
{% endif %}
    </table></td>
{% if recentReviews | length %}
    <td {{ recentPlays | length ? "&nbsp;&nbsp;&nbsp;" }}></td>
    <td class='recentReviews' valign=top>
      <table border=0 cellspacing=0>
        {%~ set block = topPlays | length or recentPlays | length %}
        <tr><th colspan=2 align=left class='subhead'>&nbsp;{{ block ? '' : dj.airname ~ "'s "}}Recent reviews</th>
        </tr>
        <tr><td><ul style='margin-block-start: 0'>
        {{ _self.emitViewDJAlbum(recentReviews, block ? ' class="sub"' : '', "name") }}
        </ul></td></tr>
        {%~ if recentReviews | length == count - 1 %}
        <tr><td></td><td align=left class='sub'><a href='?action=viewRecent&amp;subaction=viewDJ&amp;seq=selUser&viewuser={{ dj.id }}' class='nav'>More reviews...</a></td></tr>
        {%~ endif %}
      </table>
    </td>
{% endif %}
  </tr>
</table>
{{ topPlays | length or recentPlays | length or recentReviews | length ? "<br>" }}

<form action="?" class="selector" method=post>
<table>
  <tr><th align=left>{{ dj.airname }}'s playlists:</th></tr>
  <tr><td>
     <ul tabindex='0' class='selector listbox no-text-select' data-name='playlist'>
     {%~ for playlist in playlists %}
       <li data-value="{{ playlist.id }}">{{ playlist.showdate ~ ' -- ' ~ playlist.description }}</li>
     {%~ endfor %}
     </ul></td></tr>
  <tr><td>
  <script src="{{ 'js/zklistbox.js' | decorate }}"></script>
  <script><!--
     $().ready(function() {
         $("ul.selector").zklistbox().trigger('focus');
     });
  // -->
  </script>
  <input type=submit value=" View Playlist ">
  <input type=hidden name=playlist value="">
  <input type=hidden name=viewuser value="{{ dj.id }}">
  <input type=hidden name=subaction value="viewDJ">
  <input type=hidden name=seq value="selList">
  </td></tr>
</table>
</form>
