<div id="confirm-date-time" class="zk-popup">
  <div class="zk-popup-content">
    <h3>Confirm Unusual Date and Time</h3>
    <p>The date and time you've entered:</p>
    <p style='text-align: center'><b id='confirm-date-time-msg'></b></p>
    <p>seem to be outside your typical show times.  Please
      double-check to ensure they are correct.</p>
    <p>Select 'Confirm' to proceed with
      <span id="confirm-operation">creating</span> the show, or choose
      'Cancel' to make adjustments.</p>
    <div class="zk-popup-actionarea">
      <button type="button">Cancel</button>
      <button type="button" class="default" id="continue">Confirm</button>
    </div>
  </div>
</div> <!-- confirm-date-time -->
