{% extends 'list/editor.html' %}

{% block banner %}
  <div class='playlistBanner'>&nbsp;Editing highlighted item</div>
  <input type='hidden' id='track-id' value='{{ entry.getId() }}' />
{% set type = entry.getType() %}
{% if type is constant('TYPE_SPIN', entry) %}
  {%~ set etype = 'manual-entry' %}
  {%~ set album = entry.asArray() %}
  {%~ for field in ['tag', 'artist', 'album', 'label', 'title'] %}
  <input type='hidden' id='old-track-{{ field }}' value='{{ album[field == 'title' ? 'track' : field ] }}' />
  {%~ endfor %}
{% elseif type is constant('TYPE_COMMENT', entry) %}
  {%~ set etype = 'comment-entry' %}
  <input type='hidden' id='old-comment-data' value='{{ entry.getComment() }}' />
{% elseif type is constant('TYPE_LOG_EVENT', entry) %}
  {%~ set etype = NME_PREFIX ~ entry.getLogEventType() %}
  <input type='hidden' id='old-event-code' value='{{ entry.getLogEventCode() }}' />
{% else %}
  {%~ set etype = 'set-separator' %}
{% endif %}
  <input type='hidden' id='old-created' value='{{ entry.getCreatedTime() }}' />
  <input type='hidden' id='edit-type' value='{{ etype }}' />
{% endblock %}
