<script type="text/javascript" src="{{ 'js/jquery.fxtime.js' | decorate }}"></script>
<script type="text/javascript" src="{{ 'js/playlists.import.js' | decorate }}"></script>
<form class='import-form import-json' enctype="multipart/form-data" action='?' method='post'>
  <input type='hidden' name='action' value='importExport'>
  <input type='hidden' name='subaction' value='importJSON'>
  <input type='hidden' name='MAX_FILE_SIZE' value='100000'>
  <div>
    <label>Import from:</label>
    <div class='group file-area'>
      <input type='file' name='userfile' required>
      <div class='file-overlay'>
        <div class='default'>Drag&hairsp;&amp;&hairsp;Drop file here or <span class='pseudo-button'>Browse Files</span></div>
        <div class='success'>Your file is selected.</div>
      </div>
    </div>
  </div>
  <div>
    <label></label>
    <input type='submit' value=' Import Playlist '>
  </div>
  <div>
    <label></label>
    <div class='user-tip sub' style='display: inline-block'>
      <p>File must be a UTF-8 encoded JSON playlist,
      such as previously exported via Export Playlist.</p>
    </div>
  </div>
</form>
