<div class='categoryPicker'>
  <label class='reviewLabel'>Categories:&nbsp;</label>
  <span class='review-categories zk-hidden'>
{% for genre in GENRES | sort %}
    <span class='{{ genre | replace({' ': '-'}) }} zk-hidden'>
      <input type='checkbox' value='{{ genre }}'>
      <span>{{ genre }}</span>
    </span>
{% endfor %}
  </span>
</div>
{% if app.session.isAuth('u') %}
{% set author = app.request.dj == 'Me' %}
<div style='display: inline-block; margin-right: 8px'>
  <label class='reviewLabel'>Reviewer:</label>
  <select id='djPicker'>
    <option {{ not author ? 'selected'}}>All</option>
    <option {{ author ? 'selected' }}>Me</option>
  </select>
</div>
{% endif %}

<span id='review-count'></span>

<div class='sort'>
  <label class='reviewLabel'>Sort by:</label>
  <select>
    <option value='title'>Album</option>
    <option value='artist'>Artist</option>
    <option value='genre'>Category</option>
    <option value='reviewer'>Reviewer</option>
    <option value='reviewed'>Date</option>
  </select>
  <span class='sense'></span>
</div>

<table class='recent-reviews'>
<colgroup>
  <col style='width: 195px'>
  <col>
  <col style='width: 120px' class='meta'>
  <col style='width: 200px' class='meta'>
  <col style='width: 150px' class='meta'>
</colgroup>
<thead>
  <tr>
    <th data-key='title'>Album</th>
    <th data-key='artist'>Artist</th>
    <th class='meta' data-key='genre'>Category<sup style='font-weight: normal'>&dagger;</sup></th>
    <th class='meta' data-key='reviewer'>Reviewer</th>
    <th class='meta' data-key='reviewed'>Date</th>
  </tr>
</thead>
<tbody id='review-body'></tbody>
</table>
<div id='pagination'></div>
<p><sup>&dagger;</sup>The categories Electronic, Experimental, and Loud
  can be found in the General collection of the library.</p>
<script><!--
  {%~ set jsreviews = reviews | map(review => {
      reviewer: (review.airname ?? review.realname) | e,
      album: {
          tag: review.album.tag,
          albumart: review.album.albumart
      },
      hashtags: review.hashtags,
      title: review.album.album | e,
      artist: review.album.iscoll ? 'Various Artists' : review.album.artist | e,
      genre: GENRES[review.album.category] | e,
      body: review.body | truncate(1000, true) | nl2br,
      reviewed: review.reviewed
  }) %}
  const reviews = {{ jsreviews | json_encode | raw }};
  const stationTitle = '{{ app.station_title | e('js') }}';
  // -->
</script>
<script src="{{ 'js/reviews.recent.js' | decorate }}"></script>
