<form class='form-entry'>
<table class='sortable-table recent-reviews review-shelf' style='display: none'>
  <colgroup>
    <col style='width: 110px'>
    <col span='2'>
    <col style='width: 140px'>
    <col style='width: 110px'>
    <col style='width: 160px'>
    <col style='width: 90px'>
  </colgroup>
  <thead>
    <tr>
      <th data-sorter='false'></th>
      <th>Album</th>
      <th>Artist</th>
      <th>Category</th>
      <th>Location</th>
      <th>Reviewer</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
{% for album in albums %}
{% block album %}
    <tr>
{% if album.location == 'E' %}
    {#~ review shelf #}
      <td><button type=button class='edit-mode inline-mode' data-op='claim' data-tag='{{ album.tag }}'>Claim it</button></td>
{% elseif album.location == 'F' and app.session.getUser() == album.bin %}
    {#~ out for review by this user #}
      <td><button type=button class='edit-mode inline-mode edit-delete' data-op='release' data-tag='{{ album.tag }}'>Release</button></td>
{% elseif album.location == 'H' and app.session.isAuth('n') %}
    {#~ pending approval for add manager #}
      <td><button type=button class='edit-mode inline-mode edit-alert' data-op='dtm' data-tag='{{ album.tag }}'>DTM</button></td>
{% else %}
      <td></td>
{% endif %}
      <td><a href='?action=viewRecentReview&amp;tag={{ album.tag }}'>{{ album.album }}</a>
{%- if album.playable -%}
        <div class='albumPlayable'></div>
{%- endif -%}
      </td>
      <td>{{ album.iscoll ? 'Various Artists' : album.artist }}</td>
      <td>{{ GENRES[album.category] }}</td>
{% if album.location == 'F' %} {#~ out for review #}
      <td>Out for review</td>
      <td>{{ album.realname }}</td>
      <td class='date'>{{ album.updated | date("Y-m-d") }}</td>
{% else %}
  {%~ if album.location == 'E' %}
      <td>Review shelf</td>
  {%~ else %}
      <td>Reviewed</td>
  {%~ endif %}
      <td>-</td>
      <td>-</td>
{% endif %}
    </tr>
{% endblock %}
{% endfor %}
  </tbody>
</table>
</form>
<script><!--
  $().ready(function(){
      var INITIAL_SORT_COL = 1; // album
      $('.sortable-table').tablesorter({
          sortList: [[INITIAL_SORT_COL, 0]],
      }).css('display','table');

      function doOp(e) {
          var button = $(e.target);
          var op = button.data('op');
          var tag = button.data('tag');
          var url = '?action=viewRecent&subaction=updateReviewShelf&op=' +
              encodeURIComponent(op) + "&tag=" +
              encodeURIComponent(tag);

          var isDTM = op == 'dtm';
          if(isDTM && !window.confirm('Send this album to the library?'))
             return;

          $.ajax({
              dataType : 'json',
              type: 'GET',
              accept: "application/json; charset=utf-8",
              url: url,
          }).done(function (response) {
              var tr = button.closest('tr');
              if(isDTM) {
                  tr.children()
                      .wrapInner('<div>')
                      .children()
                      .slideUp(function() {
                          tr.remove();
                      });
              } else {
                  var row = $(response.html);
                  row.find('button').on('click', doOp);
                  tr.replaceWith(row);
              }
          });
      }

      $('.review-shelf button').on('click', doOp);
  });
  // -->
</script>
