<div class='user-tip' style='display: block; max-width: 550px;'>
<p>API Keys allow external applications access to your playlists
and other personal details.</p><p>Generate and share an API Key only
if you trust the external application.</p>
</div>
<form action='?' method=post>
{% if keys | length %}
  <p><b>Your API Keys:</b></p>
  <table border=0>
    <tr><th><input name=all id='all' type=checkbox></th><th align=right>API Key</th><th></th></tr>
  {%~ for key in keys %}
    <tr><td><input name=id{{ key.id }} type=checkbox></td>
    <td class='apikey'>{{ key.apikey }}</td>
    <td><a href='#' title='Copy Key to Clipboard' class='copy'>&#x1f4cb;</a></td></tr>
  {%~ endfor %}
  </table>
  <p><input type=submit class=submit name=deleteKey value=' Remove Key '>&nbsp;&nbsp;&nbsp;
{% else %}
  <p><b>You have no API Keys.</b></p><p>
{% endif %}
  <input type=submit class=submit name=newKey value=' Generate New Key '></p>
  <input type=hidden name=action value='{{ app.request.action }}'>
  <input type=hidden name=subaction value='{{ app.request.subaction }}'>
</form>
<script type="text/javascript" src="{{ "js/user.apikey.js" | decorate }}"></script>
