<!DOCTYPE html>
<html lang="en">
{% block head %}
{% if app.content.title is not empty %}
  {%- set title = app.content.title ~ " - " ~ app.station_title -%}
{% else %}
  {%- set title = app.station_title -%}
{% endif %}
  <head>
    <title>{{ title }} - Zookeeper Online</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.86, user-scalable=yes" />
{% if app.favicon is not empty %}
    <link rel="icon" href="{{ app.favicon }}" />
{% endif %}
    <link rel="stylesheet" type="text/css" href="vendor/mottie/tablesorter/dist/css/theme.default.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ "css/zoostyle.css" | decorate }}" />
{% if app.stylesheet is not empty %}
    <link rel="stylesheet" type="text/css" href="{{ app.stylesheet | decorate }}" />
{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ "css/legal.css" | decorate }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="vendor/components/jquery/jquery.min.js"><\/script>')</script>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.css" onerror="this.onerror=null;this.href='vendor/components/jqueryui/themes/base/jquery-ui.css';" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="vendor/components/jqueryui/jquery-ui.min.js"><\/script>')</script>
    <script src="vendor/mottie/tablesorter/dist/js/jquery.tablesorter.min.js"></script>

    <link rel="alternate" type="application/rss+xml" title="{{ app.station_title }} Music Reviews" href="zkrss.php?feed=reviews" />
    <link rel="alternate" type="application/rss+xml" title="{{ app.station_title }} Airplay Charts" href="zkrss.php?feed=charts" />
    <link rel="alternate" type="application/rss+xml" title="{{ app.station_title }} A-File Adds" href="zkrss.php?feed=adds" />
    <link rel="search" type="application/opensearchdescription+xml" href="?target=opensearch" title="{{ app.station_title }}" />
  </head>
{% endblock %}
{% block body %}
{% include('body.html') %}
{% endblock %}
</html>
