<h3 style='margin-top: 0'>Review Album:&nbsp;&nbsp;{{ album.artist }} / {{ album.album }}</h3>
{{ errorMessage | raw }}
<form class="review form-entry" action="?" method=post>
<datalist id='airnames'>
{% for airname in airnames %}
  <option value='{{ airname }}'>
{% endfor %}
</datalist>
<div>
  <div>
    <label>Reviewer:</label>
    <input type='text' id='airname' name='airname' value='{{ airname ?: self }}' maxlength='{{ MAX_AIRNAME_LENGTH }}' required>
  </div>
  <div class='review-header'>
    <label>Review:</label>
    <div>
      <input type=radio name=private value=0 {{ not private ? 'checked' }}>Public&nbsp;&nbsp;
      <input type=radio name=private value=1 {{ private ? 'checked' }} >Private
    </div>
  </div>
  <div>
    <textarea wrap=virtual name=review maxlength={{ MAX_REVIEW_LENGTH }} rows=20>{{ review }}</textarea>
  </div>
{% if id %}
  <div class='action-area'>
    <button type=submit class='edit-mode default' id='edit-save'>Save</button>
    <button type=submit class='edit-mode' id='edit-delete'>Delete</button>
    <button type=button class='edit-mode' id='edit-cancel'>Cancel</button>
  </div>
{% else %}
  <div class='action-area-new'>
    <button type=submit class='edit-mode default' id='post-review'>Post Review!</button>
    <button type=button class='edit-mode' id='edit-cancel'>Cancel</button>
  </div>
{% endif %}
  <div>
    <input type=checkbox name=noise {{ not id ? 'checked' }}>E-mail review to the Music list
  </div>
</div>
<input type=hidden name=tag value="{{ album.tag }}">
<input type=hidden name=action value="searchReviewEdit">
<input type=hidden name=button value="">
<input type=hidden name=validate value="y">
</form>
<script><!--
$().ready(function() {
    $("#airname").on('click', function() {
        $(this).autocomplete('search', '');
    }).autocomplete({
        minLength: 0,
        source: function(rq, rs) {
            var term = rq.term.toLowerCase();
            rs($("#airnames option").map(function() {
                return this.value;
            }).filter(function() {
                return this.toLowerCase().includes(term);
            }));
            $(".ui-menu").scrollTop(0);
        }
    });

    function escQuote(s) {
        return String(s).replace(/\'/g, '\\\'');
    }

    $("form.review").on('submit', function(e) {
        var id = document.activeElement.id;
        $("input[name=button]").val(id);

        var airname = $("#airname").val().trim();
        if(airname.length == 0 ||
               $("#airnames option[value='" + escQuote(airname) + "' i]").length == 0 && !confirm('Create new airname "' + airname + '"?')) {
            $("#airname").val('').trigger('focus');
            e.preventDefault();
        }
    });

    $("#edit-delete").on('click', function(e) {
        if(!confirm("Delete the review?"))
            e.preventDefault();
        else if(!$("#airname").val().trim().length)
            $("#airname").val('{{ airname ?: self | e("js") }}');
    });

    $("#edit-cancel").on('click', function() {
        location.href = "?action=search&s=byAlbumKey&n=" + $("input[name=tag]").val();
    });

    $("*[name=review]").focus();
});
// -->
</script>
