{% if welcome %}
<h4>Classic search is now available in the search bar at the top of the page.</h4>
<p>Use the filter on the right to search by artist, album, track, or record label.</p>
{% else %}
<script type="text/javascript"><!--
$().ready(function() {
    var type = '{{ type }}';
    var text = '{{ search.searchText | replace({"'": "\\'"}) | raw }}';
{% if type == "albumsByPubkey" %}
    $("#fkey").val(text);
{% else %}
    var width = $("#search-filter-button").get(0).offsetWidth;
    $(".search-data").val(text)
        .css('padding-right', (width + 6) + "px");
    $("#search-filter").val(type).selectmenu('refresh');
    $("#search-filter-button").addClass('override');

    var sortBy;
    switch(type) {
    case "artists":
        sortBy = "Artist";
        break;
    case "albums":
        sortBy = "Album";
        break;
    case "tracks":
        sortBy = "Track";
        break;
    default:
        sortBy = "";
        break;
    }
    $("#sortBy").val(sortBy);
{% endif %}
    $("#type").val(type).trigger('lsearch');
});
// -->
</script>
{% endif %}
