{#- DJ picker template for Playlists > By DJ and Reviews > By DJ -#}
<table cellpadding=2 cellspacing=2 border=0 class="djzone">
  <tr><th colspan=2 align=left>
{% for letter in 'A'..'Z' %}
    <a href="#"{{ letter }}>{{ letter }}</a>&nbsp;&nbsp;
{% endfor %}
  </th></tr>
  <tr><td colspan=2>
{% set last = '' %}
{% set dot = false %}
{% for dj in djs %}
  {%~ set cur = dj.cur < 'A' ? '#' : dj.cur %}
  {%~ if cur != last %}
    {%~ set last = cur %}
  </td></tr>
  <tr><td colspan=2>&nbsp;</td></tr>
  <tr><th valign=top><a name="{{ last }}">{{ last }}</a>&nbsp;&nbsp;</th>
  <td valign=top>
    {%~ set dot = false %}
  {%~ endif %}
  {#- must not have whitespace before first &nbsp; to prevent wrap -#}
  {%~ if dot %}&nbsp;&nbsp;&#8226;&nbsp; {% else %}
    {%~ set dot = true %}
  {%~ endif %}
    <a class="nav" href="?action={{ app.request.action }}&subaction={{ app.request.subaction }}&amp;seq=selUser&amp;viewuser={{ dj.id }}">{{ dj.airname }}</a>
{%- endfor %}
  </td></tr>
</table>
{% if app.request.subaction == "viewDJ" %}
<h4>Didn't find the DJ you were looking for?  Show <a href='?action={{ app.request.action }}&subaction={{ app.request.subaction }}All'>All DJs</a>.</h4>
{% endif %}
