{% if app.request.action == "contactGuidelines" %}
<h2>Submission Guidelines</h2>

<p>Thanks for submitting your music to KZSU for airplay consideration.
Before you do, please read the following for general guidelines,
information.</p>

<p class="subhead2">What Do We Play?</p>
<p>All submissions will be listened to and assessed for their
appropriateness on KZSU.  If you are unfamiliar with what we play
please consult our <a href="?action=viewChart">weekly charts</a> posted online or
check our <a href="<?php echo Engine::param('urls')['home'];?>schedule/">air schedule</a> and
the show descriptions of our current DJs.  KZSU has very limited
library space and it is important that we only keep what we feel will
be of most interest to our DJs and listeners.  If what comprises our
weekly charts makes little sense to you, please reconsider.</p>

<p class="subhead2">Formats we accept:</p>
<ul>
<li>CD
<li>Vinyl (7&quot;, 10&quot;, 12&quot;)
<li>Cassette
<li>CD-R versions of vinyl releases including  records
<li>CD-R versions of cassette releases
<li>CD-R versions of digital-only releases
</ul>

<p class="subhead2">We do not accept:</p>
<ul>
<li>CD singles/promos
<li>Label samplers (with exception of the unique and obscure)
<li>CD EPs with tracks from upcoming  (please wait and send us the full length)
</ul>

<p class="subhead2">Regarding Digital Submissions:</p>
<p>At this time we are not equipped to air digital releases directly.
Digital submissions must be downloaded, ripped, and treated like any
other CD-R.  Our preferred media for the moment is still CD.  Certain
exceptions are granted (e.g. Hip Hop digital singles).  Otherwise,
please do your best to send us a CD-R version.</p>

<p class="subhead2">Genres We Accept</p>
<p>All. Everything.  Anything except blatantly commercial releases. If
you feel that your music falls under the following specific subgenres
please address it to: Jazz, Blues, Hip Hop, Classical, Experimental,
Metal, World, Reggae, Country/Bluegrass, Dance/RPM.  Anything else
goes to General where it will be well received.  If you can't figure
out how to classify your music then it sounds exactly like something
we will love.  Just send it.</p>

<p>Please allow 4-6 weeks for processing of submissions.  If you are
wondering whether your music has been accepted into our rotation and
library, please consult our <a href="?">Zookeeper database</a> after
that time.  All music that is accepted is entered into this easily
searchable database.</p>

<p class="subhead2">Tracking</p>
<p>With few exceptions, we do not do tracking.  With the volume of
submissions and the fact that our staff is all-volunteer, busy with
classes, day jobs, families, we prefer to let the publicly searchable
<a href="?">Zookeeper</a> database, our CD
reviews, our A-file and charts be a measure of how much we love your
music.  Please consult Zookeeper in lieu of tracking calls,
emails.</p>

<p>CDs that are not accepted cannot be returned unless a SASE is
enclosed.  We assure you that we do our best to recycle, reuse them.
Again: PLEASE consult our charts to see whether your music is
appropriate for KZSU BEFORE you mail it to us.  We strive to minimize
waste of natural resources, energy.</p>

<p class="subhead2">Weekly Adds and Charting</p>
<p>All music that is accepted will be reviewed by staff and put into
A-File rotation on a weekly basis at which point it has the potential
to chart.  Please allow up to several weeks for CDs to be reviewed and
added.  CDs spend 9 weeks on this charting rotation after which they
retire to our main library where they are available for airplay to all
DJs in perpetuity.  Again, the Zookeeper database will allow you to
track the number of plays a CD gets, when, and by which DJ.</p>

<p class="subhead2">A Note of Appreciation</p>
<p>Our staff is composed of true music lovers and many of us are
former/present musicians.  We know too well the hard work, passion,
heart, soul and love that goes into every CD that is submitted.
Please do not feel slighted if we do not accept your CD.  Please
accept our gratitude for the honor of listening to it, screening it.
KZSU strives for a certain sound and if we do not accept your CD it
merely means that it is likely more appropriate for another radio
station.</p>
 
<p>Thanks in advance for your submissions.<br>
<a href="?action=contact"><i>The Music Department Staff of KZSU Stanford</i></a></p>
{% else %}
<h2>Contact KZSU Music</h2>

<p>The KZSU Music Department is constantly on the lookout for new
independent kickass releases of any genre.  If you put out CDs or
vinyl from 7&quot;s to 12&quot;s, all it takes to be considered for
airplay is to send us a copy.</p>

<p><a href="?action=contactGuidelines"><b>PLEASE READ THESE GUIDELINES
BEFORE SUBMITTING MUSIC</b></a></p>

<table BORDER=0 CELLSPACING=0>
  <tr><th align=left class="subhead">Music Mailing Addresses</th></tr>
</table><br>
<table border=0>
  <tr>
    <th align=left valign=top>
      <span class="sub"><i>Via Post:</i></span><br>
      KZSU Music<br>
      PO Box 20510<br>
      Stanford, CA  94309
    </th>
    <th style="width: 60px;"></th>
    <th align=left valign=top>
      <span class="sub"><i>Via Courier (e.g., UPS, FedEx):</i></span><br>
      KZSU Music<br>
      Memorial Hall Basement<br>
      Stanford, CA 94305
    </th>
</table><br>

<table border=0 cellspacing=0>
  <tr><th align=left class="subhead">Music Directors</th></tr>
</table><br>
<table border=0>
  <tr>
    <td align="left" valign="top">
      <b>Music Directors:</b><br> <a href="mailto:music@kzsu.stanford.edu">Juan Luna-Avin, Bill Cuevas</a><br><br><!--br-->
      <b>Hip-hop Directors:</b><br> <a href="mailto:hiphop@kzsu.stanford.edu">Mike McDowell, Johnathan Martin</a><br>
      <i>Office Hours:</i> Thursday 6-9pm<br><br>
      <b>Jazz Director:</b> <a href="mailto:jazz@kzsu.stanford.edu">Tom McCarter</a><br>
      <i>Office Hours:</i> tba<br><br>
      <b>Country/Bluegrass Director:</b> <a href="mailto:country@kzsu.stanford.edu">Joseph Hnilo</a><br>
      <i>Office Hours:</i> Sunday noon-4<br><br>
      <b>RPM/Electronica Director:</b> <a href="mailto:rpm@kzsu.stanford.edu">Johnathan Martin</a><br>
      <i>Office Hours:</i> tba<br><br>
      <b>Reggae Director:</b> <a href="mailto:reggae@kzsu.stanford.edu">Margy Kahn</a><br>
      <i>Office Hours:</i> tba<br><br>
    </td>
    <td style="width: 20px;"></td>
    <td align="left" valign="bottom">
      <b>Classical Director:</b> <a href="mailto:classical@kzsu.stanford.edu">Larry Koran</a><br>
      <i>Office Hours:</i> tba<br><br>
      <b>World Director:</b> <a href="mailto:world@kzsu.stanford.edu">Margy Kahn</a><br>
      <i>Office Hours:</i> tba<br><br>
      <b>Blues Director:</b> <a href="mailto:blues@kzsu.stanford.edu">Byrd Hale</a><br>
      <i>Office Hours:</i> Wednesday 6-9pm, Saturday 9-noon<br><br>
      <b>Vinyl/7&quot; Director:</b> <a href="mailto:seven@kzsu.stanford.edu">Juan Luna-Avin</a><br>
      <i>Office Hours:</i> tba<br><br>
      <b>Metal Director:</b> <a href="mailto:metal@kzsu.stanford.edu">Bill Cuevas</a><br>
      <i>Office Hours:</i> tba<br><br>
      <b>Noise/Experimental Director:</b><br> <a href="mailto:experimental@kzsu.stanford.edu">Abra Jeffers</a><br>
      <i>Office Hours:</i> tba<br><br>
    </td>
  </tr>
</table>

<p class="sub"><b>A FEW OF THE GENRES THAT WE PLAY:</b><br>
country, grind, punk, industrial, blues, world, techno, rockabilly,
jazz, no wave, zydeco, goth, ska, noisecore, house, classical, garage,
hiphop, spoken word, death metal, folk, skronk, crust, trance, pop,
drum 'n' bass, bluegrass, grunge, surf, hardcore, reggae, gabber,
experimental, emo, rock, queercore, klezmer, sea chanties, black
metal, dub, psych, jungle</p><br>

<h2>Contact KZSU Radio</h2>
<p><a class="nav" href="https://kzsu.stanford.edu/contact/"><b>Additional contact information</b></a> for KZSU radio is available here.</p>
{% endif %}
