<div class='contact'>
{% if app.request.action == 'contactGuidelines' %}
{% include 'contact.guidelines.html' %}
{% else %}
<h2>Contact KZSU Music</h2>

<p>The KZSU Music Department is constantly on the lookout for new independent kickass releases of any genre.  If you put out CDs or vinyl from 7&quot;s to 12&quot;s, all it takes to be considered for airplay is to send us a copy.</p>

<h3>A FEW OF THE GENRES THAT WE PLAY</h3>
<p>country, grind, punk, industrial, blues, world, techno, rockabilly, jazz, no wave, zydeco, goth, ska, noisecore, house, classical, garage, hiphop, spoken word, death metal, folk, skronk, crust, trance, pop, drum 'n' bass, bluegrass, grunge, surf, hardcore, reggae, gabber, experimental, emo, rock, queercore, klezmer, sea chanties, black metal, dub, psych, jungle</p>

<h3>Music Mailing Addresses</h3>
<div class='addresses'>
  <div>
    <div class='sub'>Via Post:</div>
    <div>KZSU Music</div>
    <div>PO Box 20510</div>
    <div>Stanford, CA 94309-0510</div>
  </div>
  <div>
    <div class='sub'>Via Courier (e.g., UPS, FedEx):</div>
    <div>KZSU Music</div>
    <div>Memorial Hall Basement</div>
    <div>Stanford, CA 94305</div>
  </div>
</div>

<p><a href="?action=contactGuidelines"><b>PLEASE READ THESE GUIDELINES BEFORE SUBMITTING MUSIC</b></a></p>

{% set mid = (genres | length / 2) | round %}
<div class='directors'>
{% for column in genres|batch(mid) %}
  <div>
  {%~ for genre in column %}
    <div>
      <b>{{ genre.name }}</b>
      <a href="mailto:{{ genre.email }}">{{ genre.director }}</a>
    </div>
  {%~ endfor %}
  </div>
{% endfor %}
</div>

<h2>Contact KZSU Radio</h2>
<div><a href="{{ app.urls.home }}contact/"><b>Additional contact information</b></a> for KZSU radio is available here.</div>
{% endif %}
</div>
